<p id="alert"><%= alert %></p>

<%= form_for([@part, @inventory_part]) do |f| %>
  <% if @inventory_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_part.errors.count, "error") %> prohibited this inventory_part from being saved:</h2>

      <ul>
      <% @inventory_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Part_Number %><br>
    <%= f.text_field :part_num %>
  </div>
  <div class="field">
    <%= f.label :Serial_Number %><br>
    <%= f.text_field :serial_num %>
  </div>
  <div class="field">
    <%= f.radio_button(:condition, "NE") %>
    <%= label_tag "New" %>
  </div>
  <div class="field">
    <%= f.radio_button(:condition, "OH") %>
    <%= label_tag "Over Haul" %>
  </div>
  <div class="field">
    <%= f.radio_button(:condition, "SV") %>
    <%= label_tag "Servicable" %>
  </div>
  <div class="field">
    <%= f.radio_button(:condition, "AR") %>
    <%= label_tag "As Removed" %>
  </div>
  <div class="field">
    <%= f.radio_button(:condition, "SC") %>
    <%= label_tag "Scrap" %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
