= form_for ([@part, @inventory_part]) do |f|
  .col-md-4.col-md-offset-1
    .field.form-group
      %strong Part Number
      = f.text_field :part_num, placeholder: "Part number", class: "form-control"
    .field.form-group
      %strong Serial Number
      = f.text_field :serial_num, placeholder: "Serial number",class: "form-control"
    %strong Condition
    .inv-radio-btns{style: "display: flex; justify-content: space-between"}
      .right-radios
        .radio
          = f.radio_button :condition, "recent"
          = f.label :condition, "New"
        .radio
          = f.radio_button :condition, "overhaul"
          = f.label :condition, "Overhaul"
        .radio
          = f.radio_button :condition, "as_removed"
          = f.label :condition, "As Removed"
      .left-radios
        .radio
          = f.radio_button :condition, "serviceable"
          = f.label :condition, "Serviceable"
        .radio
          = f.radio_button :condition, "non_serviceable"
          = f.label :condition, "Non Serviceable"
        .radio
          = f.radio_button :condition, "scrap"
          = f.label :condition, "Scrap"

      .text-center
      = f.button(type: "submit", class: "btn btn-success legitRipple") do
        Submit
  .col-md-4.col-md-offset-2
    %br
    %div.text-center.text-semibold.text-size-large Update Inventory
    %br
    %div.text-center Need to update more than one part? Send us an email at Support@bid.aero and we'll help you refresh your listing.
    %div.text-center
      %b.icon-download7.text-muted.largeicon
      %div.text-center.text-muted We accept the following file formats .xls, .xlsx, .csv
