= simple_form_for ([@part, @inventory_part]) do |f|
  .field.form-group
    %strong Part Number
    = f.text_field :part_num, placeholder: "Part number", class: "form-control"
  .field.form-group
    %strong Serial Number
    = f.text_field :serial_num, placeholder: "Serial number",class: "form-control"
  .field.form-group
    %strong Condition
    = f.select :condition, InventoryPart.conditions.to_a.map { |c| [c[0].humanize, c[0]] }
  .actions{style: 'margin: 5px 0'}
    %div.btn.custom-btn
      %i.fa.fa-check-square-o
      = f.submit 'Update Inventory Part'
%div
  = form_tag import_company_inventory_parts_path(current_user.id), multipart: true do
    = file_field_tag :file
  .actions{style: 'margin: 5px 0'}
  %div.btn.custom-btn
    = submit_tag "Import"
        
  :javascript
    $(document).ready(function() {
      $('select').material_select();
    });
