.row
  .col.s12.m9.offset-m1
    .card
      .card-content
        %h2.center-align.flow-text Inventory Parts
        / link_to 'New Inven Part', new_inventory_part_path, class: 'btn custom-btn white-btn', id: "inventory-new"

.card
  .card-content
    %p
      %input#search.form-control{:type => "text", placeholder: "Search inventory"}
    %table#tblData.table.striped.responsive-table
      %thead
        %tr
          %th Part Number
          %th Description
          %th Serial Number
          %th Condition
          %th Manufacturer
      %tbody
        - @inventory_parts.each do |inventory|
          %tr
            %td.srchtbl= inventory.part_num
            %td.srchtbl= inventory.description
            %td.srchtbl= inventory.serial_num
            %td.srchtbl= inventory.condition
            %td.srchtbl= inventory.manufacturer
            %td= link_to 'Show', inventory_part_url(inventory)
            %td= link_to 'Destroy', inventory_part_path(inventory), method: :delete, data: { confirm: 'Are you sure?' }
= form_tag import_company_inventory_parts_path(current_user.id), multipart: true do
  = file_field_tag :file
  / = submit_tag Import
