<%= render 'layouts/navbar' %>

<main>

  <div class="clearfix" id="banner">
    <div id="inventory">
      <h1>Inventory</h1>
    </div>
    <%= link_to 'New Inventory part', new_inventory_part_path, class: 'btn btn-primary white-btn', id: "inventory-new" %>
  </div>
  
  <div id="main-container">

    <p>
      <input type="text" id="search" class="form-control", placeholder="Search inventory">
    </p>
  
    <table id="tblData" class="table table-hover">
      <thead>
        <tr>
          <th>Part Number</th>
          <th>Description</th>
          <th>Serial Number</th>
          <th>Condition</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
  
      <tbody>
        <% @inventory_parts.each do |inventory| %>
          <tr>
            <td class= "srchtbl"><%= inventory.part_num%></td>
            <td class= "srchtbl"><%= inventory.description %></td>
            <td class= "srchtbl"><%= inventory.serial_num %></td>
            <td class= "srchtbl"><%= inventory.condition %></td>
            <td class= "srchtbl"><%= inventory.manufacturer %></td>
            <td><%= link_to 'Show', inventory_part_url(inventory) %></td>
            <td><%= link_to 'Destroy', inventory_part_path(inventory), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>


