<p id="notice"><%= notice %></p>

<p>
  <strong>Part num:</strong>
  <%= @inventory_part.part_num %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory_part.description %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @inventory_part.manufacturer %>
</p>

<p>
  <strong>Company:</strong>
  <%= @inventory_part.company %>
</p>

<p>
  <strong>Part:</strong>
  <%= @inventory_part.part %>
</p>

<%= link_to 'Edit', edit_inventory_part_path(@inventory_part) %> |
<%= link_to 'Back', inventory_parts_path %>
