<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
      <th>Serial Number</th>
      <th>Manufacturer</th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_part.each do |inventory| %>
      <tr>
        <td><%= inventory.part_num%></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.serial_num %></td>
        <td><%= inventory.manufacturer %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_inventory_part_path(@inventory_part) %> |
<%= link_to 'Back', inventory_parts_path %>
