.row
  .col.s12
    .card
      .card-content
        %span.card-title
          = @inventory_part.description
        %p
          Serial Number:
          = @inventory_part.serial_num
        %p
          Part number: #{@inventory_part.part_num}
        %p
          Condition: #{@inventory_part.condition_tag}
        %p
          Manufacturer: #{@inventory_part.manufacturer}
        %br/

    = render 'documents/form', object: @inventory_part if @inventory_part.company == current_user

  %div.btn.custom-btn
    %i.fa.fa-arrow-left
    = link_to "Back", inventory_parts_path, class:"waves-effect waves-light"
  - if @inventory_part.company == current_user
    |
    %div.btn.custom-btn
      %i.fa.fa-pencil
      = link_to 'Edit this inventory part', edit_inventory_part_path(@inventory_part)
      / #{link_to 'Back to Inventory', inventory_parts_path} |
      / #{link_to 'Back to Auction',auction_path(@bid.auction)}
    -# else
      / = link_to 'Back to Auction',auction_path(@bid.auction)


