<p id="notice"><%= notice %></p>

<p>
  <h3>Part num:</h3>
  <%= @inventory_part.part_num %>
</p>

<p>
  <h3>Description:</h3>
  <%= @inventory_part.description %>
</p>

<p>
  <h3>Manufacturer:</h3>
  <%= @inventory_part.manufacturer %>
</p>

<%= link_to 'Edit', edit_inventory_part_path(@inventory_part) %> |
<%= link_to 'Back', inventory_parts_path %>
