.form-horizontal
	%p#alert= alert
	= form_for(@engine, html: { class: "inline-form" }) do |f|
		- if @engine.errors.any?
			#error_explanation
				%h2
					= pluralize(@engine.errors.count, "error")
					prohibited this auction from being saved:
				%ul
					- @engine.errors.full_messages.each do |message|
						%li= message
		.row
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-compass4.position-left
						Engine Details
					.form-group
						%label.col-lg-3.control-label Engine Major Variant:
						.col-lg-9
							= f.text_field :engine_major_variant, :placeholder => "CFM56, PW4000 ", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Engine Minor Variant:
						.col-lg-9
							= f.text_field :engine_minor_variant, :placeholder => "3C1, 112", class: "form-control"
					.form-group
						%label.col-lg-3.control-label ESN:
						.col-lg-9
							= f.text_field :esn, :placeholder => "831084", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Disk Limiter:
						.col-lg-9
							= f.text_field :cycles_remaining, :placeholder => "6700 CR @ 3C1", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Condition:
						.col-lg-9
							= f.select :condition, Engine.conditions.to_a.map { |c| [c[0].humanize, c[0]] }, class: "form-control"
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-history.position-left
						Engine History
					.form-group
						%label.col-lg-3.control-label Current Operator:
						.col-lg-9
							= f.text_field :current_operator, :placeholder => "Magni-Charters", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Last Operator:
						.col-lg-9
							= f.text_field :last_operator, :placeholder => "Southwest", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Stored Location
						.col-lg-9
							= f.text_field :location, :placeholder => "Arizona", class: "form-control"
		.row
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-check.position-left
						Asset Status
					.form-group
						%label.col-lg-3.control-label Engine Status:
						.col-lg-9
							= f.select :service_status, Engine.service_statuses.to_a.map { |s| [s[0].humanize, s[0]] }
					.form-group
						%label.col-lg-3.control-label Available Date:
						.col-lg-9
							= f.text_field :available_date, :placeholder => "DD/MM/YY", class: "form-control"
					.form-group
						%label.col-lg-3.control-label Available For:
						.col-lg-9
							= f.check_box :sale
							= f.label :sale, "Sale"

							= f.check_box :lease
							= f.label :lease, "Lease"
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-download.position-left
						Attach Documents
				-# .well
				-# 	= f.fields_for :document, Document.new, html: { multipart: true }, class: "form-control" do |cm|
				-# 		-# .field.pull-left.field-title
				-# 		-#   Upload Files
				-# 		.row{style: "display: flex;"}
				-# 			.files
				-# 				%label.btn.btn-default.btn-file.legitRipple
				-# 					%i.icon-file-plus
				-# 					Browse
				-# 					= cm.file_field :attachment, multiple: true
				-# 			.form-control.file-caption.kv-fileinput-caption{:tabindex => "500"}
				-# 				.file-caption-name#file-name{:title => "No file selected"}
				-# 					.text-muted No file selected
		.row
			.col-md-12
				.col-md-2.col-md-offset-5
					= f.button(type: "submit", class: "btn btn-success legitRipple") do
						Post Engine Advertisement
-# = form_for(@engine) do |f|
-#   - if @engine.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(@engine.errors.count, "error")
-#         prohibited this engine from being saved:
-#       %ul
-#         - @engine.errors.full_messages.each do |message|
-#           %li= message
-# .field
-#   = f.text_field :engine_major_variant, placeholder: "Engine Major Variant"
-# .field
-#   = f.text_field :engine_minor_variant, placeholder: "Engine Minor Variant"
-# .field
-#   = f.text_field :esn, placeholder: "ESN"
-# .field
-#   %p Engine Condition
-#   = f.select :condition, Engine.conditions.to_a.map { |c| [c[0].humanize, c[0]] }
-# .field
-#   %p Engine Status
-#   = f.select :service_status, Engine.service_statuses.to_a.map { |s| [s[0].humanize, s[0]] }
-# .field
-#   = f.text_field :current_operator, placeholder: "Current Operator"
-# .field
-#   = f.text_field :last_operator, placeholder: "Last Operator"
-# .field
-#   = f.text_field :location, placeholder: "Location Stored"
-# .field
-#   = f.text_field :cycles_remaining, placeholder: "Disk Limiter"
-# .field
-#   = f.text_field :available_date, class: "form-control datepicker", placeholder: "Engine Availability Date"
-# #form-group.checkbox
-#   = f.check_box :sale
-#   = f.label :sale, "For Sale"
-# #form-group.checkbox
-#   = f.check_box(:lease)
-# = f.label :lease, "For Lease"
-# %br
-# .well
-#   = f.fields_for :documents, Document.new, html: { multipart: true } do |cm|
-#     = cm.label :name
-#     = cm.text_field :name
-#     = cm.label :attachment
-#     = cm.file_field :attachment
-# %br
-# - if @engine.documents.empty?
-#   %p There are no documents associated with this engine.
-# - else
-#   %table.table.table-hover
-#     %thead
-#       %tr
-#         %th Name
-#         %th Download Link
-#         %th  
-#       %tbody
-#         - @engine.documents.each do |document|
-#           %tr
-#             %td= document.name
-#             -if document.attachment.url.downcase.include? "pdf"
-#               %td= link_to 'View/Download', document.attachment_url
-#             -else
-#               %td= link_to 'Download', document.attachment_url
-#             - if document.company == current_user
-#               %td= button_to 'Delete', document, method: :delete, data:  { confirm: 'Are you sure that you wish to delete document?'}, class: 'btn custom-btn'
-#
-# %div.btn.custom-btn
-#   %i.fa.fa-check-square-o
-#   = f.submit 'submit'
-#
-# :javascript
-#   $(document).ready(function() {
-#     $('select').material_select();
-#     $('.datepicker').pickadate({
-#       selectMonths: true
-#     });
-#   });
