= form_for(@engine) do |f|
  - if @engine.errors.any?
    #error_explanation
      %h2
        = pluralize(@engine.errors.count, "error")
        prohibited this engine from being saved:
      %ul
        - @engine.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :engine_major_variant, placeholder: "Engine Major Variant"
  .field
    = f.text_field :engine_minor_variant, placeholder: "Engine Minor Variant"
  .field
    = f.text_field :esn, placeholder: "ESN"
  .field
    %p Engine Condition
    = f.select :condition, Engine.conditions.to_a.map { |c| [c[0].humanize, c[0]] }
  .field
    %p Engine Status
    #form-group.radio_button
      = f.radio_button :current_status,  "In Service"
      = f.label :current_status_in_service, "In Service"
    #form-group.radio_button
      = f.radio_button :current_status,  "Off Service"
      = f.label :current_status_off_service, "Off Service"
  .field
    = f.text_field :current_operator, placeholder: "Current Operator"
  .field
    = f.text_field :last_operator, placeholder: "Last Operator"
  .field
    = f.text_field :location, placeholder: "Location Stored"
  .field
    = f.text_field :cycles_remaining, placeholder: "Disk Limiter"
  .field
    = f.text_field :available_date, placeholder: "Available Date, DD/MM/YY"
  #form-group.checkbox
    = f.check_box :sale
    = f.label :sale, "For Sale"
  #form-group.checkbox
    = f.check_box(:lease)
    = f.label :lease, "For Lease"
  %br
  %div.btn.custom-btn
    %i.fa.fa-check-square-o
    = f.submit 'Update Engine'

:javascript
  $(document).ready(function() {
    $('select').material_select();
  });
