= form_for(@engine) do |f|
  - if @engine.errors.any?
    #error_explanation
      %h2
        = pluralize(@engine.errors.count, "error")
        prohibited this engine from being saved:
      %ul
        - @engine.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :engine_major_variant, placeholder: "Engine Major Variant"
  .field
    = f.text_field :engine_minor_variant, placeholder: "Engine Minor Variant"
  .field
    = f.text_field :esn, placeholder: "ESN"
  .field
    %p Engine Condition
    = f.select :condition, Engine.conditions.to_a.map { |c| [c[0].humanize, c[0]] }
  .field
    %p Engine Status
    = f.select :service_status, Engine.service_statuses.to_a.map { |s| [s[0].humanize, s[0]] }
  .field
    = f.text_field :current_operator, placeholder: "Current Operator"
  .field
    = f.text_field :last_operator, placeholder: "Last Operator"
  .field
    = f.text_field :location, placeholder: "Location Stored"
  .field
    = f.text_field :cycles_remaining, placeholder: "Disk Limiter"
  .field
    = f.text_field :available_date, class: "form-control datepicker", placeholder: "Engine Availability Date"
  #form-group.checkbox
    = f.check_box :sale
    = f.label :sale, "For Sale"
  #form-group.checkbox
    = f.check_box(:lease)
    = f.label :lease, "For Lease"
  %br
  %div.btn.custom-btn
    %i.fa.fa-check-square-o
    = f.submit 'Update Engine'

  :javascript
    $(document).ready(function() {
      $('select').material_select();
      $('.datepicker').pickadate({
        selectMonths: true
      });
    });
