%p#notice= notice
.row
  .col.s12
    .card
      .card-content
        %h5.custom-card-title.center
          Engine
        %hr/
        .row
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Engine major variant:
            = @engine.engine_major_variant
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Engine minor variant:
            = @engine.engine_minor_variant
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Esn:
            = @engine.esn
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Condition:
            = @engine.condition
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Engine Status:
            = @engine.current_status
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Last operator:
            = @engine.last_operator
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Location:
            = @engine.location
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Cycles remaining:
            = @engine.cycles_remaining
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Available date:
            = @engine.available_date
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Sale:
            = @engine.sale
          %p.col.m6.s12{style: "margin: 5px 0"}
            %strong Lease:
            = @engine.lease


          - if @engine.company == current_user
            %div
            Accepted formats: .pdf .doc .docx .xlsx .xls .jpeg .jpg .html
            %br/
            = form_for ([@engine, @document]), html: { multipart: true, class: "form-inline" } do |f|
              = f.text_field :name, class: "form-control", placeholder: "Title"
              = f.file_field :attachment
              = f.submit "Upload", class: "btn custom-btn"

            = link_to 'Edit', edit_engine_path(@engine), class: "btn custom-btn"
            |

        #documents.col-md-12
        - if @engine.documents.empty?
          %p There are no documents associated with this part.
        - else
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Download Link
                %th  
            %tbody
              - @engine.documents.each do |document|
                %tr
                  %td= document.name
                  -if document.attachment.url.downcase.include? "pdf"
                    %td= link_to 'View/Download', document.attachment_url
                  -else
                    %td= link_to 'Download', document.attachment_url
                  - if document.engine.company == current_user
                    %td= button_to 'Delete', document, method: :delete, data:  { confirm: 'Are you sure that you wish to delete document?'}, class: 'btn custom-btn'
          = link_to 'Back', home_path, class: "btn custom-btn"


        - if @engine.company == current_user
          = link_to 'Edit', edit_engine_path(@engine), class: "btn custom-btn"
          |
        = link_to 'Back', :back, class: "btn custom-btn"

