.navbar.navbar-inverse
	.navbar-header
		%a.navbar-brand{:href => dashboard_path}
			= image_tag("/images/bid_aero_logo.png")
	/ /main navbar
.page-container{:style => "min-height:341px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			/ Password recovery
			.col-md-6.col-md-offset-3
				= form_tag password_resets_path, :method => :post, class: 'login-form' do
					.panel.panel-body
						.text-center
							.icon-object.border-warning.text-warning
								%i.icon-spinner11
							%h5.content-group
								Password recovery
								%small.display-block We'll send you an email with instructions to reset your password!
						.form-group.has-feedback
							= text_field_tag :email, params[:email], class: "form-control", placeholder: 'Please enter your e-mail'
							.form-control-feedback
								%i.icon-mail5.text-muted
						.form-group
							= submit_tag "Reset Password", class: "btn bg-success btn-block" do
								%i.icon-arrow-right14.position-right
				/ /password recovery
			/ /main content
		/ /page content
/ Footer
.footer.text-muted
	.col-1
		Website designed and programmed in Miami, Florida. Copyright ©#{Time.now.year} Bid Aero, Inc. All Rights Reserved.
.row
	.col.m8.offset-m2
		.card{style: "padding: 10px"}
			%p.custom-card-title.font-18 Reset Password
			= form_tag password_resets_path, :method => :post do
				.input-field
					= text_field_tag :email, params[:email], placeholder: 'Enter your email'

					= submit_tag "Reset Password", class: 'btn wave-effect wave-light green'
					= link_to "Home", root_path, class: 'btn wave-effect wave-light green'
