%table.table.striped.responsive-table.bordered
  - #add #aircraftDTIndex if you want to be a datatable to end of ^ line
  %thead
    %tr
      %th Aircraft Type
      %th MSN
      %th Y.O.B.
      %th Tail Num
      %th Engine Type
      %th APU
      %th Maintenance status
      %th Available Date
      %th Available For
      %th.is_th
  %tbody
    - @aircrafts.each do |aircraft|
      %tr
        %td= aircraft.aircraft_type.upcase
        %td= aircraft.msn.upcase
        %td= aircraft.yob.upcase
        %td= aircraft.tail_number.upcase
        %td= aircraft.engine_major_variant.upcase + "-" + aircraft.engine_minor_variant.upcase
        %td= aircraft.apu_model.upcase
        %td= aircraft.maintenance_status.upcase
        %td= aircraft.available_date.upcase
        - if aircraft.sale? && aircraft.lease?
          %td= "Sale or Lease"
        - elsif aircraft.lease?
          %td=  "Lease"
        -else
          %td= "Contact Rep"
        - if aircraft.company == current_user
          = hidden_field_tag 'is_available_aircraft', 'true'
          %td
            %span
              = link_to edit_aircraft_path(aircraft) do
                %span.material-icons.amber-text.icon-34
                  mode_edit
              = link_to aircraft, data: { aircraft_behavior: 'delete' } do
                %span.material-icons.red-text.icon-34
                  delete_forever
%br
%div.btn.custom-btn
  %i.fa.fa-upload
  = link_to 'Add an Aircraft', new_aircraft_path
