<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @aircraft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aircraft_type %><br>
    <%= f.text_field :aircraft_type %>
  </div>
  <div class="field">
    <%= f.label :msn %><br>
    <%= f.text_field :msn %>
  </div>
  <div class="field">
    <%= f.label :tail_number %><br>
    <%= f.text_field :tail_number %>
  </div>
  <div class="field">
    <%= f.label :yob %><br>
    <%= f.text_field :yob %>
  </div>
  <div class="field">
    <%= f.label :mtow %><br>
    <%= f.text_field :mtow %>
  </div>
  <div class="field">
    <%= f.label :engine_major_variant %><br>
    <%= f.text_field :engine_major_variant %>
  </div>
  <div class="field">
    <%= f.label :engine_minor_variant %><br>
    <%= f.text_field :engine_minor_variant %>
  </div>
  <div class="field">
    <%= f.label :apu_model %><br>
    <%= f.text_field :apu_model %>
  </div>
  <div class="field">
    <%= f.label :cabin_config %><br>
    <%= f.text_field :cabin_config %>
  </div>
  <div class="field">
    <%= f.label :in_service %><br>
    <%= f.check_box :in_service %>
  </div>
  <div class="field">
    <%= f.label :off_service %><br>
    <%= f.check_box :off_service %>
  </div>
  <div class="field">
    <%= f.label :current_operator %><br>
    <%= f.text_field :current_operator %>
  </div>
  <div class="field">
    <%= f.label :last_operator %><br>
    <%= f.text_field :last_operator %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :maintenance_status %><br>
    <%= f.text_field :maintenance_status %>
  </div>
  <div class="field">
    <%= f.label :available_date %><br>
    <%= f.text_field :available_date %>
  </div>
  <div class="field">
    <%= f.label :sale %><br>
    <%= f.check_box :sale %>
  </div>
  <div class="field">
    <%= f.label :lease %><br>
    <%= f.check_box :lease %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
