= form_for(@aircraft) do |f|
  - if @aircraft.errors.any?
    #error_explanation
      %h2
        = pluralize(@aircraft.errors.count, "error")
        prohibited this aircraft from being saved:
      %ul
        - @aircraft.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :aircraft_type, placeholder: "Aircraft Type"
  .field
    = f.text_field :msn, placeholder: "MSN"
  .field
    = f.text_field :tail_number, placeholder: "Tail Number"
  .field
    = f.text_field :yob, placeholder: "YOB"
  .field
    = f.text_field :mtow, placeholder: "MTOW"
  .field
    = f.text_field :engine_major_variant, placeholder: "Engine Major Variant"
  .field
    = f.text_field :engine_minor_variant, placeholder: "Engine Minor Variant"
  .field
    = f.text_field :apu_model, placeholder: "APU Model"
  .field
    = f.text_field :cabin_config, placeholder: "Cabin Configuration"
  %br
  %div Aircraft Status
  #form-group.radio_button
    = f.radio_button :service_status, "In Service"
    = f.label :service_status_in_service, "In Service"
    %br
  #form-group.radio_button
    = f.radio_button :service_status, "Off Service"
    = f.label :service_status_off_service, "Off Service"
  %br
  .field
    = f.text_field :current_operator, placeholder: "Current Operator"
  .field
    = f.text_field :last_operator, placeholder: "Last Operator"
  .field
    = f.text_field :location, placeholder: "Location"
  .field
    = f.text_field :maintenance_status, placeholder: "Maintenance Status"
  .field
    = f.text_field :available_date, placeholder: "Available Date (DD/MM/YY)"
  #form-group.checkbox
    = f.check_box :sale
    = f.label :sale, "For Sale"
  #form-group.field
    = f.check_box :lease
    = f.label :lease, "For Lease"
  %br
  .actions
    = f.submit
