.form-horizontal
	%p#alert= alert
	= form_for(@aircraft, html: { class: "inline-form" }) do |f|
		- if @aircraft.errors.any?
			#error_explanation
				%h2
					= pluralize(@aircraft.errors.count, "error")
					prohibited this auction from being saved:
				%ul
					- @aircraft.errors.full_messages.each do |message|
						%li= message
		.row
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-airplane2.position-left
						Aircraft Details
					.form-group
						%label.col-sm-3.control-label Aircraft Type:
						.col-sm-9
							= f.text_field :aircraft_type, :placeholder => "B777-700, A350-800 ", class: "form-control"
					.form-group
						%label.col-sm-3.control-label MSN:
						.col-sm-9
							= f.text_field :msn, :placeholder => "12354", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Tail Number:
						.col-sm-9
							= f.text_field :tail_number, :placeholder => "N34231", class: "form-control"
					.form-group
						%label.col-sm-3.control-label YOB:
						.col-sm-9
							= f.text_field :yob, :placeholder => "2005", class: "form-control"
					.form-group
						%label.col-sm-3.control-label MTOW:
						.col-sm-9
							= f.text_field :mtow, :placeholder => "130,000", class: "form-control"
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-cogs.position-left
						Aircraft Configuration
					.form-group
						%label.col-sm-3.control-label Engine Major Variant:
						.col-sm-9
							= f.text_field :engine_major_variant, :placeholder => "CFM56", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Engine Minor Variant:
						.col-sm-9
							= f.text_field :engine_minor_variant, :placeholder => "7B26", class: "form-control"
					.form-group
						%label.col-sm-3.control-label APU:
						.col-sm-9
							= f.text_field :apu_model, :placeholder => "GTC-1241", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Cabin Configuration:
						.col-sm-9
							= f.text_field :cabin_config, :placeholder => "2 Classes (B/C and Y/C)", class: "form-control"
		.row
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-check.position-left
						Asset Status
					.form-group
						%label.col-sm-3.control-label Aircraft Status:
						.col-sm-9
							.radio
								= f.radio_button :service_status, "in_service"
								= f.label :service_status, "In Service"
							.radio
								= f.radio_button :service_status, "off_service"
								= f.label :service_status, "Off Service"
					.form-group
						%label.col-sm-3.control-label Available Date:
						.col-sm-9
							= f.text_field :available_date, :placeholder => "DD/MM/YY", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Available For:
						.col-sm-9
							.radio
								= f.check_box :sale
								= f.label :sale, "Sale"
							.radio
								= f.check_box :lease
								= f.label :lease, "Lease"
			.col-md-6
				%fieldset
					%legend.text-semibold
						%i.icon-history.position-left
						Aircraft History
					.form-group
						%label.col-sm-3.control-label Current Operator:
						.col-sm-9
							= f.text_field :current_operator, :placeholder => "Magni-Charters", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Last Operator:
						.col-sm-9
							= f.text_field :last_operator, :placeholder => "Southwest", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Stored Location
						.col-sm-9
							= f.text_field :location, :placeholder => "Arizona", class: "form-control"
					.form-group
						%label.col-sm-3.control-label Maintenance Status:
						.col-sm-9
							= f.text_field :maintenance_status, :placeholder => "Maintenance Status", class: "form-control"
		.row
			.col-md-12
				.col-md-2.col-md-offset-5
					= f.button(type: "submit", class: "btn btn-success legitRipple") do
						Post Aircraft Advertisement
