<p id="notice"><%= notice %></p>

<h1>Aircraft Availability</h1>

<table>
  <thead>
    <tr>
      <th>Aircraft Type</th>
      <th>MSN</th>
      <th>Tail Number</th>
      <th>Y.O.B.</th>
      <th>MTow</th>
      <th>Engine Type</th>
      <th>APU</th>
      <th>Maintenance status</th>
      <th>Available Date</th>
      <th>Available For</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= aircraft.aircraft_type.upcase %></td>
        <td><%= link_to aircraft.msn.upcase, aircraft %></td>
        <td><%= aircraft.tail_number.upcase %></td>
        <td><%= aircraft.yob.upcase %></td>
        <td><%= aircraft.mtow.upcase %></td>
        <td><%= aircraft.engine_major_variant.upcase + "-" + aircraft.engine_minor_variant.upcase%></td>
        <td><%= aircraft.apu_model.upcase %></td>
        <td><%= aircraft.maintenance_status.upcase %></td>
        <td><%= aircraft.available_date.upcase %></td>
        <td><%= if aircraft.sale? && aircraft.lease?
                  "Sale or Lease"
                elsif aircraft.lease?
                  "Lease"
                else "Contact Rep"
                end%></td>
        <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Delete', aircraft, data: { aircraft_behavior: 'delete' } %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aircraft', new_aircraft_path %>
