.row.profile.aircraft-profile
  .col.s12
    .card
      .card-content
        %div.card-title.activator.grey-text.text-darken-4.center-align
          Aircraft Listing
        %div.profile-image
          = image_tag 'aircraft.png', size: '200x200', alt: 'Aircraft'

    .row
      .card
        .card-content
          %h5.custom-card-title
            Owner/Rep Info
            %hr
          .card-row.display-flex-space-between
            %strong Aircraft type:
            = @aircraft.aircraft_type
          .card-row.display-flex-space-between
            %strong Msn:
            = @aircraft.msn
          .card-row.display-flex-space-between
            %strong Tail number:
            = @aircraft.tail_number
          .card-row.display-flex-space-between
            %strong Yob:
            = @aircraft.yob
          .card-row.display-flex-space-between
            %strong Mtow:
            = @aircraft.mtow
          .card-row.display-flex-space-between
            %strong Engine major variant:
            = @aircraft.engine_major_variant

    .row
      .card
        .card-content
          %h5.custom-card-title
            Asset Conditions
            %hr
          .card-row.display-flex-space-between
            %strong Engine minor variant:
            = @aircraft.engine_minor_variant
          .card-row.display-flex-space-between
            %strong Apu model:
            = @aircraft.apu_model
          .card-row.display-flex-space-between
            %strong Cabin config:
            = @aircraft.cabin_config
          .card-row.display-flex-space-between
            %strong Service Status:
            = @aircraft.service_status_tag
          .card-row.display-flex-space-between
            %strong Current operator:
            = @aircraft.current_operator
          .card-row.display-flex-space-between
            %strong Last operator:
            = @aircraft.last_operator

    .row
      .card
        .card-content
          %h5.custom-card-title
            Aircraft Description
            %hr
          .card-row.display-flex-space-between
            %strong Location:
            = @aircraft.location
          .card-row.display-flex-space-between
            %strong Maintenance status:
            = @aircraft.maintenance_status
          .card-row.display-flex-space-between
            %strong Available date:
            = @aircraft.available_date
          .card-row.display-flex-space-between
            %strong Sale:
            = @aircraft.sale
          .card-row.display-flex-space-between
            %strong Lease:
            = @aircraft.lease

    .card
      .card-content
        %h5.custom-card-title
          Documents
          %hr
        - if @aircraft.documents.empty?
          No Documents Available
        - else
          = render @aircraft.documents

    = render 'documents/form', object: @aircraft if @aircraft.company == current_user
%div.btn.custom-btn
  %i.fa.fa-arrow-left
  = link_to 'Back to aircrafts', aircrafts_path
|
%div.btn.custom-btn
  %i.fa.fa-edit
  = link_to 'Edit this aircraft', edit_aircraft_path(@aircraft)


