<p id="notice"><%= notice %></p>

<p>
  <strong>Aircraft type:</strong>
  <%= @aircraft.aircraft_type %>
</p>

<p>
  <strong>Msn:</strong>
  <%= @aircraft.msn %>
</p>

<p>
  <strong>Tail number:</strong>
  <%= @aircraft.tail_number %>
</p>

<p>
  <strong>Yob:</strong>
  <%= @aircraft.yob %>
</p>

<p>
  <strong>Mtow:</strong>
  <%= @aircraft.mtow %>
</p>

<p>
  <strong>Engine major variant:</strong>
  <%= @aircraft.engine_major_variant %>
</p>

<p>
  <strong>Engine minor variant:</strong>
  <%= @aircraft.engine_minor_variant %>
</p>

<p>
  <strong>Apu model:</strong>
  <%= @aircraft.apu_model %>
</p>

<p>
  <strong>Cabin config:</strong>
  <%= @aircraft.cabin_config %>
</p>

<p>
  <strong>In service:</strong>
  <%= @aircraft.in_service %>
</p>

<p>
  <strong>Off service:</strong>
  <%= @aircraft.off_service %>
</p>

<p>
  <strong>Current operator:</strong>
  <%= @aircraft.current_operator %>
</p>

<p>
  <strong>Last operator:</strong>
  <%= @aircraft.last_operator %>
</p>

<p>
  <strong>Location:</strong>
  <%= @aircraft.location %>
</p>

<p>
  <strong>Maintenance status:</strong>
  <%= @aircraft.maintenance_status %>
</p>

<p>
  <strong>Available date:</strong>
  <%= @aircraft.available_date %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @aircraft.sale %>
</p>

<p>
  <strong>Lease:</strong>
  <%= @aircraft.lease %>
</p>

<%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
<%= link_to 'Back', aircrafts_path %>
