-if current_user == @auction.company
  %td= bid.company.name.upcase
%td= bid.inventory_part.manufacturer || "--"
%td= bid.inventory_part.serial_num.upcase || "--"

%td= bid.inventory_part.condition_tag
%td= number_to_currency bid.part_price
%td= number_to_currency bid.est_shipping_cost
- if @auction.company == current_user || bid.company == current_user
  %td
    -if bid.documents.blank? && bid.company == current_user
      = link_to 'Upload Docs', bid
    -elsif !bid.documents.blank?
      = link_to bid do
        %i.icon-file-download2{style: "font-size: 24px;"}
    -elsif bid.documents.blank?
      %i.icon-file-minus2{style: "font-size: 24px;"}
-elsif bid.company != current_user
  %td
    %i.icon-file-download2.disabled{style: "font-size: 24px;"}
%td= bid.tag_date || "N/A"
%td= bid.quantity

- if bid.company == current_user
  / %td= link_to 'Delete', auction_bid_path(@auction, bid), method: :delete, data: { confirm: 'Are you sure?' }
  %td
    = link_to auction_bid_path(@auction, bid), data: { auction_bid_behavior: 'delete' } do
      %i.fa.fa-close{style: "font-size: 18px;"}
- if @auction.company == current_user
  - if !bid.tx
    %td.payment-btn{style: "width: 200px;", "data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Don't Know This Buyer? Checkout Using our Secure Escrow, and Give Yourself Peace Of Mind"}
      = button_to "Checkout", {:controller => :auctions, :action => 'purchase_confirmation', :id => bid.id, :auction_id => @auction.id }, :method => :get, class: "button btn btn-primary tooltipped pull-left"
      = button_to "Record", {:controller => :transactions, :action => 'record', :bid_id => bid.id, :auction_id => @auction.id }, remote: true, class: "button btn btn-danger btn-rounded tooltipped pull-right record-btn payment-btn"
    %td.recorded.responsive-remove-btn
      .remove-btn
        =button_to 'Remove From Purchase History', {:controller => :transactions, :action => 'remove_from_purchase_history', :bid_id => bid.id }, method: :delete, remote: true, class: "button btn btn-danger btn-rounded"
  -elsif bid.tx
    %td.payment-btn.purchase-btns{style: "width: 200px;","data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Don't Know This Buyer? Checkout Using our Secure Escrow, and Give Yourself Peace Of Mind"}
      = button_to "Checkout", {:controller => :auctions, :action => 'purchase_confirmation', :id => bid.id, :auction_id => @auction.id }, :method => :get, class: "button btn btn-primary tooltipped pull-left"
      = button_to "Record", {:controller => :transactions, :action => 'record', :bid_id => bid.id, :auction_id => @auction.id }, remote: true, class: "button btn btn-danger btn-rounded tooltipped pull-right record-btn payment-btn"
    %td.recorded
      .remove-btn.std-remove-btn
        =button_to 'Remove From Purchase History', {:controller => :transactions, :action => 'remove_from_purchase_history', :bid_id => bid.id }, method: :delete, remote: true, class: "button btn btn-danger btn-rounded"
-else
  %td
    =""
