<%= form_for([@auction, @bid]) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :amount, class: "form-control", id: "bid-field", placeholder: "Amount" %>
  </div>

  <div class="field">
    <%= f.hidden_field :inventory_part_id, :value => @match_parts.ids, :id => 'hiddeninv', class: "form-control" %>
  </div>

  <div class="actions" id="place-bid">
    <%= f.submit 'Place bid', class: 'btn btn-primary' %>
  </div>
<% end %>
