= form_for([@auction, @bid]) do |f|
  - if @bid.errors.any?
    #error_explanation
      %h2
        = pluralize(@bid.errors.count, "error")
        prohibited this bid from being saved:
      %ul
        - @bid.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :part_price, class: "form-control", id: "bid-field", placeholder: "Amount"
  .field
    = f.text_field :shipping_cost, class: "form-control", id: "bid-field", placeholder: "Shipping Cost"
  .field
    = f.hidden_field :inventory_part_id, :value => @match_parts.ids, :id => 'hiddeninv', class: "form-control"
  #place-bid.actions
    = f.submit 'Place bid', class: 'btn custom-btn'
