= form_for(transactions_update_path) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %p
        = pluralize(@transaction.errors.count, "error")
        prohibited this shipment from being saved:
      %ul
        - @transaction.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    / = f.text_field :name, class: 'form-control', placeholder: "Company name"
    / - carrier_collection = @result[:body].collect{ |c| [c["name"], c["carrier_id"]] }
    / = f.select_tag :shipment_carrier, options_for_select(carrier_collection), :class => "select"
    - carrier_collection = @carriers[:body].collect{ |c| [c["name"], c["carrier_id"]] }
    = f.select :carrier_code, options_for_select(carrier_collection), {}, { :class => "select" }
  .field.form-group
    = f.text_field :tracking_num, class: 'form-control', placeholder: "Tracking Number"
  .field.form-group
    = f.text_area :shipment_desc, class: 'form-control', placeholder: "Description of Shipment" 
  .field.form-group 
    = f.hidden_field :delivered, value: true ## This field is for testing purposes only
  %span.actions
    = f.submit 'Update Tracking Info', class: 'btn custom-btn'