.row
  .col.s12
    .card
      .card-content
        .card-title.center-align
          %h5.custom-card-title.center
            Edit Bid
        = render 'form'
        #bid-inventory
          %table#bidDT.table.table-hover.responsive-table
            %thead
              %tr
                %th Part Number
                %th Description
                %th Serial Number
                %th Condition
                %th Manufacturer
            %tbody
              - @match_parts.each do |inventory|
                %tr#cursor-row{ data: { "inventory-part-id": inventory.id , url: auctions_bid_path(auction) } }
                  %td.srchtbl= inventory.part_num
                  %td.srchtbl= inventory.description
                  %td.srchtbl= inventory.serial_num
                  %td.srchtbl= inventory.condition
                  %td.srchtbl= inventory.manufacturer

:javascript
  $(function(){
    $("#bidDT").dataTable();
  })
-#
-# = render 'form'
-# = link_to 'Show', auction_bid_path(@auction, @bid)
-# -# |
-# -# = link_to 'Back', bids_path
