.row
  #myBids.col.s12
    .row
      .card
        .card-content
          .card-title.center-align{style: 'margin-top: 20px;'}
            %h5.custom-card-title.center Quoted RFQs
          %hr/
          %br
          %table.table.striped.responsive-table#mybidsDT.bordered
            %thead
              %tr
                %th Part Number
                %th Description
                %th Conditions
                %th Start Date
                %th Days Active
                %th Lowest Bid
                %th My Bid Price
                / %th
            %tbody
              - @supplier_auctions.each do |auction|
                %tr
                  %td= link_to auction.part_num, auction
                  %td= auction.auction_part.description
                  -if auction.condition[0].blank?
                    %td All Conditions
                  -else
                    %td= auction.abbreviated_index_tags
                  %td= auction.created_at.strftime("%m/%d/%Y")
                  %td= ((Time.zone.now - auction.created_at) / 1.day).to_i
                  %td= number_to_currency auction.bids.minimum(:part_price) unless auction.bids.empty?
                  / This the current user's bid for this auction?
                  %td= number_to_currency current_user.bids.find_by(auction: auction).part_price
                  / %td= link_to 'Edit Bid', {:controller => :bids, :action => 'edit', :id => current_user.bids.find_by(auction: auction).id, :auction_id => auction.id }, :method => :get
                  -# edit_auction_bid_path(auction, @bid)
