.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-stack3.position-left.text-success
				%span.text-semibold.text-success My Quotes
				\- Submitted Quotations
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Sell
				%li.active
					My Quotes
.page-container{:style => "min-height:159px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			.panel.panel-flat
				.panel-heading
					%h5.panel-title
						Quotes Sent
				.col-md-6
					.panel-body
						Your current quotes are listed below. Let us create new opportunities for you. Keep your inventory up-to-date and instantly receive new leads as buyers create theor eRFQ's.
						Bid Aero will track and model monthly sales and provide market data on parts being sold. For pending sales or sales history please check the links under Sell.
				.col-md-1
				.col-md-2
					.panel.panel-warning
						.panel-heading
							.panel-title
								Pending Sales
						.panel-body
							Pending Sales! You have #{link_to @pending_sales_count, pending_sales_path} pending sale(s) that require action.
				.col-md-2
					.panel.panel-success
						.panel-heading
							.panel-title
								Completed Sales
						.panel-body
							Sales History, You have made #{link_to @sales_count, sales_path} sale(s) in the past 30 days.
				.col-md-1

				.datatable-scroll
					%table#bidsDT.table.dataTable.no-footer
						%thead
							%tr{:role => "row"}
								%th Auction
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Quote Number: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Quote #
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Part Number: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Part Number
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Description: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Description
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Conditions: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Condition
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Lowest Bid: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Lowest Bid
								%th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "My Bid: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} My Bid
								%th.text-center.sorting_disbaled{"aria-label" => "Actions", :colspan => "1", :rowspan => "1", :style => "width: 100px;"} Actions
						%tbody
							- @bids.each do |bid|
								%tr.odd{:role => "row"}
									%td
										%strong Auction Reference #
										= bid.auction.reference_num + " | "
										%strong Part No.
										= bid.auction.part_num + " | "
										%strong Conditions:
										= bid.auction.decorate.abbreviated_index_tags + " | "
										%strong Days Active:
										= ((Time.zone.now - bid.auction.created_at) / 1.day).to_i
									%td= link_to (bid.reference_num.empty? ? "N/A" : bid.reference_num), bid.auction
									%td= bid.auction.part_num
									%td= bid.auction.auction_part.description
									%td= AssetDecorator.rename(bid.inventory_part, bid.inventory_part.condition)
									%td= number_to_currency bid.auction.bids.minimum(:part_price)
									/ This the current user's bid for this auction?
									%td= number_to_currency bid.part_price
									/ %td= link_to 'Edit Bid', {:controller => :bids, :action => 'edit', :id => current_user.bids.find_by(auction: auction).id, :auction_id => auction.id }, :method => :get
									-# edit_auction_bid_path(auction, @bid)
									%td.text-center
										= link_to auction_bid_path(bid.auction, bid), data: { auction_bid_behavior: 'delete' } do
											%i.icon-trash.text-danger
