.row
  .card
    .card-content
      %span.card-title
        Place Bid
      = render 'form'
      #bid-inventory.container
        %table#bidDT.table.table-hover.responsive-table
          %thead
            %tr
              %th Part Number
              %th Description
              %th Serial Number
              %th Condition
              %th Manufacturer
          %tbody
            - @match_parts.each do |inventory|
              %tr#cursor-row{"data-inventory-part-id" => "\#{inventory.id}"}
                %td.srchtbl= inventory.part_num
                %td.srchtbl= inventory.description
                %td.srchtbl= inventory.serial_num
                %td.srchtbl= inventory.condition
                %td.srchtbl= inventory.manufacturer

:javascript
  $(function(){
    $("#bidDT").dataTable();
  })
