.container.row
  .col.s12
    .card
      .card-content
        #bid-new.card-title.col-lg-2
          #bid-info.col-lg-1
            %h5
              Place Bid
            %h6
              = "Destination: #{@auction.destination_city}, #{@auction.destination_state} #{@auction.destination_zip} #{@auction.destination_country}" 
            %h6
              = "Part Number: " + @auction.part_num
            %h6
              = "Condition: " + AssetDecorator.rename(@auction,@auction.conditions)
            %h6
              = "Quantity: " + @auction.quantity.to_s
            %h6
              = "Min Cycles: " + @auction.cycles

        
          = form_for([@auction, @bid], html: {class: 'col-lg-1'})do |f|
            - if @bid.errors.any?
              #error_explanation
                %h2
                  = pluralize(@bid.errors.count, "error")
                  prohibited this bid from being saved:
                %ul
                  - @bid.errors.full_messages.each do |message|
                    %li= message
            
            #bid-fields
              .field
                = f.text_field :part_price, class: "form-control dollars center-align", id: "part-price", placeholder: "Amount"
              .field
                = f.text_field :est_shipping_cost, class: "form-control dollars center-align", id: "est-shipping", placeholder: "Shipping Cost"
              .field
                = f.text_field :quantity, class: "form-control center-align", id: "quantity", placeholder: "Quantity"
                = f.hidden_field :inventory_part_id, value: InventoryPart.find_by(company: current_user, part_num: @auction.part_num).id
              
              / this shit is commented out because we are allowing people to quote quantity.
              / .field
              /   = f.hidden_field :inventory_part_id, :id => 'hiddeninv', class: "form-control"
              / #bid-inventory.col-md-1{style: "margin-top:15px;"}
              /   *select which 
              /   %table.table.table-hover.responsive-table
              /     %thead
              /       %tr
              /         %th Part Number
              /         %th Description
              /         %th Serial Number
              /         %th Condition
              /         %th Manufacturer
              /     %tbody
              /       - @match_parts.each do |inventory|
              /         %tr#cursor-row.choose-inventory{ data: { "inventory-part-id": inventory.id , url: auction_bids_path(@auction) } }
              /           %td.srchtbl= inventory.part_num
              /           %td.srchtbl= inventory.description
              /           %td.srchtbl= inventory.serial_num
              /           %td.srchtbl= AssetDecorator.rename(inventory, inventory.condition)
              /           %td.srchtbl= inventory.manufacturer
              #place-bid.actions
                = f.submit 'Place bid', class: 'btn custom-btn'




