<nav>
  <div class="logo">
    <div class="nav-option" id="1"><img src="#" alt="Bid.aero logo"></div>
  </div>
  <div class="nav-links">
    <div>
      <%= link_to 'Dashboard', company_path(current_user) %>
    </div>
    <div>|</div>
    <div>
      <%= link_to "Log out", logout_path %>
    </div>
    <div>
      <%= link_to 'Inventory', inventory_parts_path %>
    </div>
  </div>
</nav>

<main>

  <div class="clearfix" id="banner">
    <h1>Place Bid</h1>
  </div>

  <div id="main-container">

    <div id="bid-form">
      <%= render 'form' %>
    </div>
    
    <div class="container" id="bid-inventory">
      <div>
        <label for="search">
          <p>Select the part you would like to offer in this bid:</p>
        </label>
        <input type="text" id="search" class="form-control", placeholder="Search inventory">
      </div>
    
      <table id="tblData" class="table table-hover">
        <thead>
          <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Serial Number</th>
            <th>Condition</th>
            <th>Manufacturer</th>
          </tr>
        </thead>
    
        <tbody>
          <% @match_parts.each do |inventory| %>
            <tr data-inventory-part-id="#{inventory.id}">
              <td class= "srchtbl"><%= inventory.part_num%></td>
              <td class= "srchtbl"><%= inventory.description %></td>
              <td class= "srchtbl"><%= inventory.serial_num %></td>
              <td class= "srchtbl"><%= inventory.condition %></td>
              <td class= "srchtbl"><%= inventory.manufacturer %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</main>


