/ Are we even using this view anymore??
%main
  #banner.clearfix
    %h1
      Review your order
  #main-container
    #checkout-container.container.clearfix
      .col-md-5#bid-buy
      %p
        %h2 Amount:
        = number_to_currency @bid.part_price
      %p
        %h2 Company:
        = @bid.company.name
        
.col-md-6
  .container
    = "Destination: " + @auction.destination_address + ", " + @auction.destination_city + ", " + @auction.destination_state + @auction.destination_zip 
  .container
    -if !@shipping_account
      = "Confirm shipping costs for part to arrive by #{@auction.required_date}"
  .form-container
    = form_for([@auction, @bid], html: { class: "inline-form costs" }, remote: true) do |f|
      .field.form-group.cost
        = f.text_field :shipping_cost, class: "form-control", placeholder: "#{@bid.est_shipping_cost}"
      .actions.confirm_cost{style: "margin-bottom: 20px;"}
        = f.submit 'Submit', class: "btn custom-btn"
        
  .container
    %h3
      Shipment Carrier

    .container
      - if @transaction.carrier_code && @transaction.tracking_num
        %h4
          Shipment has been sent:
        %h5
          Carrier: #{@transaction.carrier}
        %h5
          Tracking Number: #{@transaction.tracking_num}
        %h5
          Description: #{@transaction.shipment_desc}
      - elsif current_user == @bid.company
        = render 'shipment'
      - elsif current_user == @auction.company && !@transaction.carrier_code
        Part has not been shipped yet.
      
      - if current_user == @auction.company && !@transaction.paid # Add this when out of Testing Purposes && @transaction.delivered
        %p
          %script{:src => "https://armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
          %a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@url}"} Release Payment
      - elsif @transaction.paid ## add association to bid to know if rating has been made
        = render :partial => "ratings/rate", :locals => {:rating => @rating}

    %h4
      Part: #{@bid.inventory_part.description}
    %h4
      Part number: #{@bid.inventory_part.part_num}
    %h4
      Serial number: #{@bid.inventory_part.serial_num}
    %h4
      Condition: #{@bid.inventory_part.condition}
    %h4
      Manufacturer: #{@bid.inventory_part.manufacturer}
    
    %br

  #documents.col-md-12
    - if @bid.inventory_part.documents.empty?
      %p There are no documents associated with this part.
    - else
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Download Link
            %th
        %tbody
          - @bid.inventory_part.documents.each do |document|
            %tr
              %td= document.name
              %td= link_to 'Download', document.attachment_url
              - if document.inventory_part.company == current_user
                %td= button_to 'Delete', document, method: :delete, data:  { confirm: 'Are you sure that you wish to delete document?'}, class: 'btn'




