.row
  .card.info-card.bid-show
    .card-content
      .col-2
        .col-1.card-title.quote-title
          %h5.col-1
            = "Quote Reference No. " + (@bid.quote_num || "")
          .bid-condition.col-1
            = number_to_currency(@bid.part_price)
      .col-2.bid-show-details
        .col-1.col-3
          .bid-part-num.col-1
            %strong
              Part number:
            = @bid.inventory_part.part_num
          .bid-serial-num.col-1
            %strong
              Serial Number:
            = @bid.inventory_part.serial_num
          .bid-condition.col-1
            %strong
              Condition: 
            = AssetDecorator.rename(@bid.inventory_part, @bid.inventory_part.condition)
          
        .col-1.upload-docs
          - if @bid.company == current_user
            %h6 Add Document(s)
            = form_for ([@bid, @document]), html: { multipart: true, class: "form-inline" } do |f|
              .col-2.upload-lower
                .col-1  
                  = f.file_field :attachment, multiple: true
                  .formats
                    Accepted formats: .pdf .doc .docx .xlsx .xls .jpeg .jpg .png .html
                .col-1
                  %div.btn.custom-btn.doc-upload 
                    = f.submit "Upload"
          -else
            .container.existing-documents
              - if @bid.documents.empty?
                %p.center There are no documents associated with this part.
              - else
                %table.table.table-hover
                  %thead
                    %tr
                      %th Documentation
                  %tbody
                    - @bid.documents.each do |document|
                      %tr
                        %td= document.name
                        -if document.attachment.url.to_s.downcase.include? "pdf"
                          %td.view-doc= link_to 'View/Download', document.attachment_url
                        -else
                          %td.view-doc= link_to 'Download', document.attachment_url
      -if @bid.company == current_user
        .col-1.bid-documents.container
          .container.existing-documents
            - if @bid.documents.empty?
              %p.center There are no documents associated with this part.
            - else
              %table.table.table-hover
                %thead
                  %tr
                    %th Name
                    %th Download Link
                    %th  
                %tbody
                  - @bid.documents.each do |document|
                    %tr
                      %td= document.name
                      -if document.attachment.url.to_s.downcase.include? "pdf"
                        %td= link_to 'View/Download', document.attachment_url
                      -else
                        %td= link_to 'Download', document.attachment_url
                      - if document.send(@bid.class.to_s.underscore.to_sym).company == current_user
                        %td
                          %div.delete-doc-btn
                            = link_to 'Delete', document, method: :delete, data:  { confirm: 'Are you sure that you wish to delete document?'}
  .row
    %div.btn.custom-btn.go-to-auction
      = link_to "Go To Auction", @auction, class:"custom-btn"







