.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-stack3.position-left.text-success
				%span.text-semibold.text-success New Quote
				\- for #{@auction.company.name} - PN: #{@auction.part_num}
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Sell
				%li
					Parts Wanted
				%li.active
					= @auction.reference_num
	/ Page container
.page-container{:style => "min-height:159px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			.panel.panel-flat
				.panel-heading
					%h5.panel-title
						Complete the form to submit your quote
					= form_for(:bid, url: temp_user_create_bid_path(@auction)) do |f|
						- if @bid.errors.any?
							#error_explanation
								%h2
									= pluralize(@bid.errors.count, "error")
									prohibited this bid from being saved:
								%ul
									- @bid.errors.full_messages.each do |message|
										%li= message
						.panel-body
							.row
								.col-md-4
									.panel.panel-default.border-left-xlg.border-left-primary
										.panel-heading.text-semibold
											%i.icon-cogs.position-left
											Request for Quotation Details
										.panel-body.text-center
											%dl.dl-horizontal.text-center
												%dt Part number:
												%dd
													= "#{@auction.part_num}"
												%dt Description:
												%dd
													= "#{@auction.auction_part.description}"
												%dt Quantity:
												%dd
													= "#{number_with_delimiter(@auction.quantity, :delimiter => ',') || "1"}"
												%dt Acceptable Conditions:
												%dd
													= "#{AssetDecorator.rename(@auction, @auction.condition)}"
												%dt Required Documentation:
												%dd
													= "#{@auction.req_forms.reject(&:blank?).to_sentence}"
												%dt Cycle Requirement:
												%dd
													= "#{@auction.cycles ? number_with_delimiter(@auction.cycles, :delimiter => ',') : "N/A"}"
												%dt Target Price:
												%dd
													= "#{@auction.target_price || "N/A"}"
										.panel-heading.text-semibold
											%i.icon-truck.position-left
											Shipping Details
										.panel-body.text-center
											%dl
												%dt Ship To:
												%dd ATTN: Bob Smith
												%dd
													= "#{@auction.company.name}"
												%dd
													= "#{@auction.company.address}"
													%br
													= "#{@auction.company.city}"
													= ", #{@auction.company.state}"
													= "#{@auction.company.zip}"
													= "#{@auction.company.country}"
								.col-md-7.col-md-offset-1
									%fieldset
										%legend.text-semibold
											%i.icon-stack3.position-left
											New Quote
									.form-horizontal
										= form_for([@auction, @bid], html: {:multipart => true, class: ''})do |f|
											- if @bid.errors.any?
												#error_explanation
													%h2
														= pluralize(@bid.errors.count, "error")
														prohibited this bid from being saved:
													%ul
														- @bid.errors.full_messages.each do |message|
															%li= message
											= f.fields_for :inventory_part, InventoryPart.new do |cm|
												%strong.part-details.sub-title.left
													Part Details
												.form-group
													.col-lg-6
														%label.col-lg-4.control-label Part No.
														.col-lg-8
															= cm.text_field :part_num, value: @auction.part_num, class: "form-control"
													.col-lg-6
														%label.col-lg-4.control-label Manufacturer
														.col-lg-8
															= cm.text_field :manufacturer, placeholder: "Ex: Textron Aviation", value: "", class: "form-control"
												.form-group
													.col-lg-6
														%label.col-lg-4.control-label Serial No.
														.col-lg-8
															= cm.text_field :serial_num, placeholder: "WG2Y0B9", class: "form-control", value: ""
													.col-lg-6
														%label.col-lg-4.control-label Condition
														.col-lg-8
															.inv-radio-btns{style: "display: flex; justify-content: space-around"}
																.right-radios
																	.radio
																		= cm.radio_button :condition, "recent"
																		= cm.label :condition, "NE"
																	.radio
																		= cm.radio_button :condition, "overhaul"
																		= cm.label :condition, "OH"
																	.radio
																		= cm.radio_button :condition, "as_removed"
																		= cm.label :condition, "AR"
																.left-radios
																	.radio
																		= cm.radio_button :condition, "serviceable"
																		= cm.label :condition, "SV"
																	.radio
																		= cm.radio_button :condition, "non_serviceable"
																		= cm.label :condition, "NSV"
																	.radio
																		= cm.radio_button :condition, "scrap"
																		= cm.label :condition, "SC"
											%strong.part-details.sub-title.left
												Quote Details
											%br
											%br
											.row
												.col-lg-6
													.form-group
														%label.col-lg-4.control-label Amount:
														.col-lg-8
															= f.text_field :part_price, :placeholder => "Ex: $450.00", class: "form-control dollars"
													.form-group
														%label.col-lg-4.control-label Shipping Est:
														.col-lg-8
															= f.text_field :est_shipping_cost, :placeholder => "Shipping Cost", class: "form-control dollars"
													.form-group
														%label.col-lg-4.control-label Quantity:
														.col-lg-8
															= f.text_field :quantity, :placeholder => "Quantity", class: "form-control"
												.col-lg-6
													.form-group
														%label.col-lg-4.control-label Tag Date:
														.col-lg-8
															= f.date_field :tag_date, :placeholder => "Tag Date", class: "form-control text-muted"
													.form-group
														%label.col-lg-4.control-label Quote Reference:
														.col-lg-8
															= f.text_field :reference_num, :placeholder => "Quote Reference No. (optional)", value: "", class: "form-control"
													.form-group
														.col-lg-4
															%label Documentation:
														.col-lg-8{style: "padding: 0 20px;"}
															= f.fields_for :document, Document.new, html: { class: "form-control"} do |dm|
																-# .field.pull-left.field-title
																-#   Upload Files
																.row{style: "display: flex;"}

																	.files
																		%label.btn.btn-default.btn-file.legitRipple
																			%i.icon-file-plus
																			Browse
																			= dm.file_field :attachment
																	.form-control.file-caption.kv-fileinput-caption{:tabindex => "500"}
																		.file-caption-name#file-name{:title => "No file selected"}
																			.text-muted None selected
											.row
												= f.submit 'Submit Quote', class: 'btn btn-defualt bg-success pull-right'