.navbar.navbar-inverse
	.navbar-header
		%a.navbar-brand{:href => dashboard_path}
			= image_tag("/images/bid_aero_logo.png")
	/ /main navbar
%body.login-container.login-cover.pace-done
	.pace.pace-inactive
		.pace-progress{"data-progress" => "99", "data-progress-text" => "100%", :style => "transform: translate3d(100%, 0px, 0px);"}
			.pace-progress-inner
		.pace-activity
	/ Page container
	.page-container{:style => "min-height:461px"}
		/ Page content
		.page-content
			/ Main content
			.content-wrapper
				= form_for(:company, url: temp_login_path) do |f|
					.row
						.col-lg-6.col-lg-offset-3
							.panel.registration-form
								.panel-body
									.text-center
										= image_tag("bidaeroswirl.png", class: "navbar-brand-signup")
										%h5.content-group-md
											Get started and create your free account!
											%h6 #{@auction.company.name} - #{@auction.company.representative} is awaiting your quote
											%small.display-block.text-muted Please enter your email and password
									.row
										.col-md-8.col-md-offset-2
											.form-group.has-feedback
												= f.text_field :email, class: "form-control", id: 'email', value: @company.email
												= f.hidden_field :token, value: @token
												= f.hidden_field :auction_id, value: @auction_id
												.form-control-feedback
													%i.icon-user.text-muted
									.row
										.col-md-6
											.form-group.has-feedback
												= f.password_field :password, class: "form-control", placeholder: "Password"
												.form-control-feedback
													%i.icon-lock.text-muted
										.col-md-6
											.form-group.has-feedback
												= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"
												.form-control-feedback
													%i.icon-lock.text-muted
									.text-center
										%button.btn.bg-success.legitRipple{:name => "action", :type => "submit", auction_id: @auction_id}
											%i.icon-circle-right2
											SIGN UP
	.footer.text-muted
		.col-1
			Website designed and programmed in Miami, Florida. Copyright ©#{Time.now.year} Bid Aero, Inc. All Rights Reserved.
