.form-container
  %p#alert= alert
  = form_for(@auction, html: { class: "inline-form" }, remote: true ) do |f|
    - if @auction.errors.any?
      #error_explanation
        %h2
          = pluralize(@auction.errors.count, "error")
          prohibited this auction from being saved:
        %ul
          - @auction.errors.full_messages.each do |message|
            %li= message
    .field.form-group
      = f.text_field :destination_address, class: "form-control", placeholder: "Destination Street Address"
    .field.form-group
      = f.text_field :destination_city, class: "form-control", placeholder: "Destination City"
    .field.form-group
      = f.text_field :destination_state, class: "form-control", placeholder: "Destination State/Region"
    .field.form-group
      = f.text_field :destination_zip, class: "form-control", placeholder: "Destination Zip Code"
    .field.form-group
      = f.text_field :destination_country, class: "form-control", placeholder: "Destination Country"
    .field
      = f.text_field :required_date, class: "form-control datepicker", placeholder: "Required Delivery Date"
    %br/
    .actions.submit_button
      = f.submit 'Submit', class: "btn custom-btn"
    %br/


:javascript
  $('.datepicker').pickadate({
    selectMonths: true
  });