<p id="alert"><%= alert %></p>
<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Part_Number %>
    <%= f.text_field :part_num %>
  </div>

  <div class="field">
    <%= f.check_box(:condition_ne) %>
    <%= label_tag "NE" %>
  </div>
  <div class="field">
    <%= f.check_box(:condition_oh) %>
    <%= label_tag "OH" %>
  </div>
  <div class="field">
    <%= f.check_box(:condition_sv) %>
    <%= label_tag "SV" %>
  </div>
  <div class="field">
    <%= f.check_box(:condition_ar) %>
    <%= label_tag "AR" %>
  </div>
  <div class="field">
    <%= f.check_box(:condition_sc) %>
    <%= label_tag "SC" %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
