.form-container
  %p#alert= alert
  = form_for(@auction, html: { class: "inline-form" }) do |f|
    - if @auction.errors.any?
      #error_explanation
        %h2
          = pluralize(@auction.errors.count, "error")
          prohibited this auction from being saved:
        %ul
          - @auction.errors.full_messages.each do |message|
            %li= message
    .field.form-group
      = f.text_field :part_num, class: "form-control", placeholder: "Part number"
    #checkbox-group
      .field.checkbox.form-group
        = f.check_box(:condition_ne)
        = label_tag "auction_condition_ne", "New"
      .field.checkbox.form-group
        = f.check_box(:condition_oh)
        = label_tag "auction_condition_oh", "Overhaul"
      .field.checkbox.form-group
        = f.check_box(:condition_sv)
        = label_tag "auction_condition_sv", "Serviceable"
      .field.checkbox.form-group
        = f.check_box(:condition_ar)
        = label_tag "auction_condition_ar", "As removed"
      .field.checkbox.form-group
        = f.check_box(:condition_sc)
        = label_tag "auction_condition_sc", "Scrap"
    %br/
    .actions
      = f.submit 'Submit', class: "btn custom-btn"
