<div class="form-container">
  <p id="alert"><%= alert %></p>
  <%= form_for(@auction, html: { class: "inline-form" }) do |f| %>
    <% if @auction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>
  
        <ul>
        <% @auction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
      <div class="field form-group">
       <%= f.text_field :part_num, class: "form-control", placeholder: "Part number" %>
     </div>

     <div id="checkbox-group">
       <div class="field checkbox form-group">
          <%= f.check_box(:condition_ne) %>
          <%= label_tag "New" %>
       </div>
       <div class="field checkbox form-group">
          <%= f.check_box(:condition_oh) %>
          <%= label_tag "Overhaul" %>
       </div>
       <div class="field checkbox form-group">
          <%= f.check_box(:condition_sv) %>
          <%= label_tag "Serviceable" %>
       </div>
       <div class="field checkbox form-group">
          <%= f.check_box(:condition_ar) %>
          <%= label_tag "As removed" %>
       </div>
       <div class="field checkbox form-group">
          <%= f.check_box(:condition_sc) %>
          <%= label_tag "Scrap" %>
       </div>
     </div>
  
    <div class="actions">
      <%= f.submit 'Submit', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>