.panel.panel-white
	%p#alert= alert
	= form_for(@auction, html: { class: "form-basic" }) do |f|
		%fieldset#step1.step
			- if @auction.errors.any?
				#error_explanation
					.alert.alert-danger
						The form contains #{pluralize(@auction.errors.count, "error")}.
					%ul.error-msg-block
						- @auction.errors.full_messages.each do |msg|
							%li= msg
			%h6.form-wizard-title.text-semibold
				%span.form-wizard-count 1
				Part Details
				%small.display-block Enter yor part specifications
			.row
				.col-md-6
					.form-group
						%label Part Number
						= f.text_field :part_num, :placeholder => "Ex: 8063-215", class: "form-control"
					.form-group
						%label Min Cycles Remaining
						= f.text_field :cycles, :placeholder => "Ex: 5000CR @ 3C1 (if applicable)", class: "form-control", value: override_default(@auction.cycles)
					.form-group
						%label Target Price
						= f.text_field :target_price, :placeholder => "Ex: $1280.00", class: "form-control dollars", value: override_default(@auction.target_price)
					.form-group
						%label Internal RFQ Number
						= f.text_field :reference_num, :placeholder => "Your Company's Internal RFQ# (Optional)", class: "form-control", value: override_default(@auction.reference_num)
				.col-md-6
					.col-md-12
						.form-group
							%label Quantity
							= f.text_field :quantity, :placeholder => "Ex: 1", class: "form-control"
						.col-md-5.col-md-offset-1
							%label.text-semibold   Acceptable Conditons
							.form-group
								= f.collection_check_boxes(:condition, Auction.conditions, :to_sym, :humanize) do |b|
									.checkbox
										= b.label
										= b.check_box
						.col-md-5.col-md-offset-1
							%label.text-semibold Required Documentation
							.form-group
								= f.collection_check_boxes(:req_forms, Auction.forms, :to_sym, :humanize) do |b|
									.checkbox
										= b.label
										= b.check_box


		%fieldset#step2.step
			%h6.form-wizard-title.text-semibold
				%span.form-wizard-count 2
				Shipping Info
				%small.display-block Enter the destination details
			= f.fields_for :destination do |cm|
				.row
					.col-md-6
						.form-group
							%label Company Name(optional)
							= cm.text_field :title, value: current_company.name, class: "form-control"
						.form-group
							%label Street Address
							= cm.text_field :address, value: current_company.address, class: "form-control"
					.col-md-6
						.col-md-7
							.form-group
								%label City
								= cm.text_field :city, value: current_company.city, class: "form-control"
						.col-md-5
							.form-group
								%label State/Region
								= cm.text_field :state, value: current_company.state, class: "form-control"
						.form-group
							.col-md-8
								%label Country
								%select.select{selected: current_company.country, :name => "country"}
									%option
										= current_company.country
									- CountryStateSelect.countries_collection.each do |c|
										%option{value: "#{c[1]}"}
											= c[0]
							.col-md-4
								%label Zip Code
								= cm.text_field :zip, value: current_company.zip, class: "form-control"
		%fieldset#step3.step
			%h6.form-wizard-title.text-semibold
				%span.form-wizard-count 3
				Contact Info
				%small.display-block Point of contact information for sellers
			.col-md-6.col-md-offset-3.auction-contact-info
				.mb-15
					%label.col-lg-3.control-label Representative's Name
					.col-lg-9
						= f.text_field :rep_name, :placeholder => "First & Last", :class => "form-control", value: current_user.name
				.mb-15
					%label.col-lg-3.control-label Email
					.col-lg-9
						= f.text_field :rep_email, :placeholder => "example@bid.aero", :class => "form-control", value: current_user.email
				.mb-15
					%label.col-lg-3.control-label Phone #
					.col-lg-9
						= f.text_field :rep_phone, :placeholder => "+99 999 999 999", class: "form-control", value: override_default(current_user.phone)
		%fieldset#step4.step
			%h6.form-wizard-title.text-semibold
				%span.form-wizard-count 4
				Add Suppliers
				%small.display-block Invite any of your vendors so they can provide a quote for this RFQ. The vendors you invite do not need to be registered on Bid Aero in order to participate or be invited. Once invited they will be able to provide you with a quote which will show up on your eRFQ.
			.row.text-center
				.container#add-new-supplier
				#new-supplier-partial{:style => "display: none;"}
					= render partial: "add_supplier"
				.container#invitees
				%br
					%a.btn.custom-btn#addNewSupplier.btn-success
						Add your preferred suppliers
						%i.icon-envelop.position-right
				-# .col-md-6
				-# 	.form-group
				-# 		%label Additional information:
				-# 		%textarea.form-control{:cols => "5", :name => "additional-info", :placeholder => "If you want to add any info, do it here.", :rows => "5"}
		.form-wizard-actions
			%button#basic-back.btn.btn-default{:type => "reset"} Back
			= f.submit "Next", class: "btn btn-info", id: "basic-next"
