.form-container.container
  %p#alert= alert
  = form_for(@auction, html: { class: "inline-form" }) do |f|
    - if @auction.errors.any?
      #error_explanation
        %h2
          = pluralize(@auction.errors.count, "error")
          prohibited this auction from being saved:
        %ul
          - @auction.errors.full_messages.each do |message|
            %li= message
    .field.form-group
      = f.select(:project_id, @projects.collect {|p| [ p.reference_num, p.id ] }, { selected: @project, include_blank: "Select a Project" })
    .field.form-group
      = f.text_field :part_num, class: "form-control", placeholder: "Part number"
    .field.form-group
      = f.number_field :quantity, min: 1, class: "form-control", placeholder: "Quantity"
    .field.form-group
      = f.text_field :cycles, class: "form-control", placeholder: "Required Cycles Remaining (if applicable)"
    .field.form-group
      = f.text_field :target_price, class: "form-control dollars", placeholder: "Target Price (optional)"
    #auction-checkboxes.col-sm-3
      #conditions.col-sm-1
        .auc-checkbox-titles
          %h5 Conditions
        .field.form-group.auction-condition-form
          = f.collection_check_boxes(:condition, Auction.conditions, :to_sym, :humanize)
      #certifications.col-sm-1
        .auc-checkbox-titles
          %h5 Required Certifications
        .field.form-group.auction-req-forms
          = f.collection_check_boxes(:req_forms, Auction.forms, :to_s, :humanize)
      #shipping-address.col-sm-1
        .auc-checkbox-titles
          %h5 Shipping Address
        .shipping-address
          .address
            = current_user.name
          .address
            = current_user.address
          .address
            = "#{current_user.city}, #{current_user.state} #{current_user.zip}"
          .address
            = current_user.country
          .address
            = @auction.required_date || "No Delivery Date Specified"
          %span.edit-address
            change


    %br
    .container.edit-shipping
      %div{style: "text-align: center;"}
        %h4 SHIP TO
      .auction-destination
        .field.form-group
          = f.text_field :destination_company, value: current_user.name, class: "form-control", placeholder: "Destination Company"
        .field.form-group
          = f.text_field :destination_address, value: current_user.address, class: "form-control", placeholder: "Destination Street Address"
        .field.form-group
          = f.text_field :destination_city, value: current_user.city, class: "form-control", placeholder: "Destination City"
        .field.form-group
          = f.text_field :destination_state, value: current_user.state, class: "form-control", placeholder: "Destination State/Region"
        .field.form-group
          = f.text_field :destination_zip, value: current_user.zip, class: "form-control", placeholder: "Destination Zip Code"
        .field.form-group
          = f.text_field :destination_country, value: current_user.country, class: "form-control", placeholder: "Destination Country"
        .field.form-group
        = f.text_field :required_date, class: "form-control datepicker", placeholder: "Required Delivery Date"
      %br
    -if current_user.resale_cert?
      %div I am purchasing this part with the intention to resell and will provide a resale certificate.
      #form-group.radio_button
        = f.radio_button :resale_status, "Yes"
        = f.label :resale_status_yes, "Yes"
      #form-group.radio_button
        = f.radio_button :resale_status, "No"
        = f.label :resale_status_no, "No"
      %br/
    .container#add-new-supplier
      
    .container#invitees
    %br
      %a.btn.custom-btn#addNewSupplier Add your preferred suppliers
      %br
    .container.col-md-1.center-align.auction-create-btn
      .btn.custom-btn
        %i.fa.fa-check-square-o
        = f.submit

#new-supplier-partial{:style => "display: none;"}
  = render partial: "add_supplier"

  :javascript
    $('.datepicker').pickadate({
      selectMonths: true
    });
