.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-envelope.position-left.text-success
				%span.text-semibold.text-success Parts Wanted
				\- Invitations for eRFQ (Request for Quotation)
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Sell
				%li
					Parts Wanted
				%li.active
					Received eRFQs
	/ Page container
.page-container{:style => "min-height:159px"}
	.page-content
		/ Main content
		.content-wrapper
			.panel.panel-white
				.panel-heading
					%h6.panel-title My eRFQ Invites - These are the eRFQ's that buyers have invited you to quote.
					.heading-elements.not-collapsible
						%span.label.bg-blue.heading-text #{@auctions.count} new invites
				.table-responsive
					%table.table.table-inbox
						-# %thead
						-# 	%tr.active
						-# 		%th.table-inbox-image.text-center
						-# 		%th.table-inbox-name.pl-0 Company
						-# 		%th.table-inbox-message eRFQ Details
						-# 		%th.table-inbox-attachment
						-# 		%th.table-inbox-time Quotes
						-# -# 		%th.text-center.days-active
						-# -# 			%i.fa.fa-chevron-downth
						%tbody
							- @auctions.each do |auction|
								%tr.unread
									%td.table-inbox-image.text-center
										=image_tag 'bidaeroswirl.png', class: "img-circle img-xs text-center"
									%td.table-inbox-name
										.display-inline-block.letter-icon-title.text-default
											= auction.company.representative
										.text-muted.text-size-small.text-regular
											= auction.company.name
									%td.table-inbox-message
										.table-inbox-subject Request for Quotation - Part Number: #{auction.part_num}
										%span.table-inbox-preview #{auction.company.name} is sourcing the market for PN: #{auction.part_num}, to participate in the bid please submit your quote online.
									%td.table-inbox-requirements
										.display-inline-block.text-muted.text-size-small.table-inbox-preview Conditions: #{auction.condition[0].blank? ? "All Conditions" : auction.abbreviated_index_tags}
										.text-muted.text-size-small.table-inbox-preview  Documentation: #{auction.req_forms.empty? ? "Not Specified" : auction.req_forms.to_sentence}
										.text-muted.text-size-small.table-inbox-preview QTY Needed: #{auction.quantity}
									%td.table-inbox-time
										-if auction.created_at == Date.today
											= auction.created_at.strftime("%I/%M/%p")
										-else
											= auction.created_at.strftime("%m/%d")
									%td.table-inbox-button
										= link_to auction do
											%button.btn-xs.bg-success.inbox-button
												Quote
												%span.icon-reply

			-#
			-# .panel.panel-flat
			-# 	.panel-heading
			-# 		%h6.panel-title
			-# 			You have been invited to quote the following companies! Please review and quote.
			-# 		.heading-elements
			-# 			%button.btn.btn-link.heading-btn.text-semibold.legitRipple{"data-target" => "#modal_update_inventory", "data-toggle" => "modal", :type => "button"}
			-# 				%span Update Inventory
			-# 				%b.icon-download7
			-# 	%table.table.striped#mybidsDT.bordered
			-# 		%thead
			-# 			%tr
			-# 				%th Part Number
			-# 				%th Description
			-# 				%th Conditions
			-# 				%th Start Date
			-# 				%th Days Active
			-# 				%th Bid Count
			-# 				%th Lowest Bid
			-# 				%th
			-# 		%tbody
			-# 			- @auctions.each do |auction|
			-# 				%tr
			-# 					%td= link_to auction.part_num, auction
			-# 					%td= auction.auction_part.description
			-# 					-if auction.condition[0].blank?
			-# 						%td All Conditions
			-# 					-else
			-# 						%td= auction.abbreviated_index_tags
			-# 					%td= auction.created_at.strftime("%m/%d/%Y")
			-# 					%td= ((Time.zone.now - auction.created_at) / 1.day).to_i
			-# 					%td= auction.bids.count
			-# 					%td= number_to_currency auction.bids.minimum(:part_price) unless auction.bids.empty?

/ this isn't ready yet. Right now it is deleting the auction
/ what I need to do with this is remove the user from @auction.invitees hash
/ Have to figure out how to do this with ajax

/ %td
/   = link_to auction, data: { invited_auction_behavior: 'delete' } do
/     %i.fa.fa-close
