.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-arrow-left52.position-left
        %span.text-semibold Starters
        \- One Column
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "1_col.html"} Starters
        %li.active One column
    .heading-elements
      %a.btn.btn-labeled.btn-labeled-right.bg-blue.heading-btn{:href => "#"}
        Button
        %b
          %i.icon-menu7
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h5.panel-title
            Active eRFQ's
        .panel-body
          %hr/
          %br
          %table.table.striped.responsive-table#buyerAuctionsDT.bordered
            %thead
              %tr
                %th Part Number
                %th Description
                %th Conditions
                %th Start Date
                %th Days Active
                %th Bid Count
                %th Lowest Bid
                %th
            %tbody
              - @owned_auctions.each do |auction|
                %tr
                  %td= link_to auction.part_num, auction
                  %td= auction.auction_part.description
                  -if auction.condition[0].blank?
                    %td All Conditions
                  -else
                    %td= AssetDecorator.rename(auction, auction.conditions)
                  %td= auction.created_at.strftime("%m/%d/%Y")
                  %td= ((Time.zone.now - auction.created_at) / 1.day).to_i
                  %td= auction.bids.count
                  %td= number_to_currency auction.bids.minimum(:part_price) unless auction.bids.empty?
                  %td.clearfix
                    = link_to "edit", edit_auction_path(auction)
                  %td
                    = link_to auction, data: { buyer_auctions_behavior: 'delete' } do
                      %i.fa.fa-close
        = link_to 'New Auction', new_auction_path, class: 'btn custom-btn'
