%p#notice= notice
%h1 Listing Auctions
%table
  %thead
    %tr
      %th Company
      %th{:colspan => "3"}
  %tbody
    - @auctions.each do |auction|
      %tr
        %td= auction.company
        %td= link_to 'Show', auction
        %td= link_to 'Edit', edit_auction_path(auction)
        %td= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Auction', new_auction_path
