%h1
	Purchase Confirmation

%h5
	Please confirm shipping address

/ JAVASCRIPT is not updating the ajax request, it's giving the same old info: $('h6').text('#{escape_javascript @auction.destination_address + ", " + @auction.destination_city + ", " + @auction.destination_state + " " + @auction.destination_zip + " " + @auction.destination_country}');
/ hotfix is to make h6 disappear after changing address
%h6#auction-full-address
	= @auction.full_address

.card-title.destination
	= render 'destination'

%h6.required_date
	= "Confirm required date: #{@auction.required_date}"
	/ HENRY confirm required date form for user to UPDATE @transaction.required_date

/ [testing purposes] should be on modal on page before this when they hit 'Proceed to Checkout'
%p.shipping_account
	%input#filled-in-box.filled-in.checkbox{:type => "checkbox"}/
	%label{:for => "filled-in-box"} Use your shipping/freight account #?

.form-container
	= form_for(deduct_shipping_cost_path, html: { class: "inline-form" }, remote: true) do |f|
		.field.form-group.freight_num
			= f.text_field :shipping_account, class: "form-control", placeholder: "Account #"
		.actions.freight_num.send_ship_num{style: "margin-bottom: 20px;"}
			= f.submit 'Submit', class: "btn custom-btn"
		


= link_to "Proceed", auction_purchase_path, class: "btn custom-btn waves-effect waves-light proceed"


/ %button.btn.custom-btn.waves-effect.waves-light#this-address Confirm Shipping Details
%button.btn.custom-btn.waves-effect.waves-light#change-address Confirm Shipping Details

/ NOT NECESSARY BUT, HENRY, DO NOT DELETE YET
/ %script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
/ %button.btn.custom-btn.waves-effect.waves-light#paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small.armor-modal{"data-url" => "#{@url}"} Select Payment Method




