.row
	.col.s12
		.card
			.card-content
				%div.card-title.activator.grey-text.text-darken-4.center-align
					Purchase Confirmation
				%hr/

				.card-title.destination
					= render 'destination'

				.form-container.purhcase-order-confirmation
					%h5.center-align
						Please confirm purchase order number
						%div.field
							= text_field_tag :po_num, nil, class: "form-control", placeholder: "Purchase Order Number"
						%div{style: "margin-bottom: 20px;"}
							= button_tag 'Confirm Purchase Order', class: "btn custom-btn po-submit", "data-transaction-id" => "#{@transaction.id}"


				/ NOT NECESSARY BUT, HENRY, DO NOT DELETE YET
				/ %script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
				/ %button.btn.custom-btn.waves-effect.waves-light#paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small.armor-modal{"data-url" => "#{@url}"} Select Payment Method




