%h1
	="Auction for #{@auction.part_num}"
-if @bid.buyer
	-if @auction.resale_no
		%h5
			= "Please enter correct tax rate for buyer in #{@bid.buyer.city}, #{@bid.buyer.state} #{@bid.buyer.zip}"
	/ .form-container # need this to be an ajax post to UPDATE the @transaction.tax_rate
	/ 	= form_for( ???, html: { class: "inline-form" }, remote: true) do |f|
	/ 		.field.form-group.freight_num
	/ 			= f.text_field :tax_rate, class: "form-control", placeholder: "Tax Rate"
	/ 		.actions.freight_num.send_ship_num{style: "margin-bottom: 20px;"}
	/ 			= f.submit 'Submit', class: "btn custom-btn"

	-if !@transaction.shipping_account
		%h4
			="Please confirm final shipping cost for part to arrive by #{@auction.required_date}: "
	-else 
		%h4
			="Buyer would like to use their shipping account number for shipping "


		