.page-header
	.page-header-content
		.page-title
			%h4
				%i.glyphicon.glyphicon-list-alt.position-left.text-primary
				%span.text-semibold.text-primary Checkout
				\- Please fill the following to proceed to the next step!
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Buy
				%li
					Sent eRFQ's
				%li
					-# #{@auction.user_reference_num}
	/ Page container
.page-container{:style => "min-height:159px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			.panel.panel-white
				.panel-body
					%h6.form-wizard-title.text-semibold
						%span.form-wizard-count 1
						Confirm Shipping Details/Instructions
						%small.display-block Enter yor part specifications
						=render 'destination'

				.card.purchase-order-confirmation
					.card-content
						.form-container.destination-form-po
							%h5.center-align Please confirm purchase order number
								%div.field
									= text_field_tag :po_num, nil, class: "form-control", placeholder: "Purchase Order Number"
								%div{style: "margin-bottom: 10px;"}
									= button_tag 'Confirm Purchase Order', class: "btn custom-btn po-submit", "data-transaction-id" => "#{@transaction.id}"
