.row
	.col.s12
		.card
			.card-content
				%div.card-title.activator.grey-text.text-darken-4.center-align
					= "Auction for #{@auction.part_num}"
				%hr/
				-if current_user == @bid.buyer
					%h5
					= "Pleaseenter correct tax rate for buyer in #{@bid.buyer.city}, #{@bid.buyer.state} #{@bid.buyer.zip}." if @auction.resale_no
					%h5
						= "Also, confirm Final Shipping Cost for part to arrive by #{@auction.required_date}." if !@transaction.shipping_account
				/# need this to be an ajax post to UPDATE the @transaction.tax_rate & UPDATE @transaction.final shipping cost
				/ .form-container
				/ 	= form_for( ???, html: { class: "inline-form" }, remote: true) do |f|
				/ 		.field.form-group.freight_num
				/ 			= f.text_field :tax_rate, class: "form-control", placeholder: "Tax Rate if @auction.resale_no
				/			.field.form-group.freight_num
				/ 			= f.text_field :final_shipping_cost, class: "form-control", placeholder: "Final Shipping Cost" if !@transaction.shipping_account
				/ 		.actions.freight_num.send_ship_num{style: "margin-bottom: 20px;"}
				/ 			= f.submit 'Submit', class: "btn custom-btn"
				-if @transaction.paid && !@transaction.shipped
					%h4
					-if @transaction.shipping_account
						="Buyer would like to use their shipping account number for shipping. Please ship product using #{@transaction.shipping_account}."
					-else
						= "Please ship part and provide the relevant information below."
						= render 'shipment' # need this to be an ajax post to UPDATE the @transaction carrier info (carrier, tracking number, etc.)



