.row
	.col.s12
		.card
			.card-content
				%div.card-title.activator.grey-text.text-darken-4.center-align
					Purchase Confirmation
				%hr/
				%h5.center-align
					Please confirm shipping address

				/ JAVASCRIPT is not updating the ajax request, it's giving the same old info: $('h6').text('#{escape_javascript @auction.destination_address + ", " + @auction.destination_city + ", " + @auction.destination_state + " " + @auction.destination_zip + " " + @auction.destination_country}');
				/ hotfix is to make h6 disappear after changing address
				%h6#auction-full-address.center-align
					= @auction.full_address

				.card-title.destination
					= render 'destination'

				%h6.required_date.center-align
					= "Confirm required date: "
					= @auction.required_date

				/ [testing purposes] should be on modal on page before this when they hit 'Proceed to Checkout'


				.form-container
					= form_for(@transaction, html: { class: "inline-form" }, remote: true) do |f|
						.field.form-group.po_num
							= f.text_field :po_num, class: "form-control", placeholder: "Purchase Order Number"
						.actions.po_num.po_submit{style: "margin-bottom: 20px;"}
							= f.submit 'Submit', class: "btn custom-btn"
						

				-if @bid.buyer == current_user
					= link_to "Proceed", buyer_purchase_path(@transaction), class: "btn custom-btn waves-effect waves-light proceed"
				-elsif @bid.seller == current_user
					= link_to "Proceed", seller_purchase_path(@transaction), class: "btn custom-btn waves-effect waves-light proceed"

				/ %button.btn.custom-btn.waves-effect.waves-light#this-address Confirm Shipping Details
				%button.btn.custom-btn.waves-effect.waves-light#confirm-shipping.center-align Confirm Shipping Details

				/ NOT NECESSARY BUT, HENRY, DO NOT DELETE YET
				/ %script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
				/ %button.btn.custom-btn.waves-effect.waves-light#paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small.armor-modal{"data-url" => "#{@url}"} Select Payment Method




