.row
  .col.s12
    .card
      .card-content
        %span.card-title.activator.grey-text.text-darken-4
          %h5
            = @auction.auction_part.description
          %h6
            = @auction.part_num
          -if @auction.cycles
            %h6
              = "Required Cycles Remaining: #{number_with_delimiter(@auction.cycles, :delimiter => ',')}"

        - if @auction.company == current_user
          %div.btn.custom-btn.right
            %i.fa.fa-pencil
            = link_to 'Edit this Auction', edit_auction_path(@auction)
        - else
          = link_to 'New Bid', new_auction_bid_path(@auction), class: 'btn custom-btn right'
        %hr{style: "clear:both;margin-top: 60px;"}/
        %ul
          %li.center-align
            %h5= @auction.condition_header
            - @auction.conditions.each do |condition|
              = @auction.condition_tag(condition)
        %ul
          %li.center-align
            %h5= "Shipping Instructions"
            %div{style: "text-align: center; margin-top: 10px;"}
              = @auction.destination_zip + ", "
              = @auction.destination_city + ", "
              = @auction.destination_country
            %div{style: "text-align: center;"}
              ="Must be received by "
              %strong
                = @auction.required_date
        %hr/
        - if @auction.bids.empty?
          .nobid.center-align
            %p.flow-text There are no bids on this auction yet.
        - else
          #bids-container
            %h4.custom-card-title.center
              Bids
            %table.table.responsive-table.bordered
              %thead
                %tr
                  %th Part #
                  %th Serial Number
                  %th Condition
                  %th Manufacturer
                  %th Amount
                  %th Est. Shipping
                  %th Avg Rating
              %tbody
                - BidDecorator.decorate_collection(@auction.bids.order(part_price: :asc)).each do |bid|
                  %tr#cursor-row
                    = render bid
