.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-arrow-left52.position-left
        %span.text-semibold eRFQ
        \- Reference #: ATC1248
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          =link_to dashboard_path do
            Dashboard
        %li
          Buy
        %li
          =link_to auctions_path do
            Sent eRFQ's
        %li.active
          eRFQ: ATC1248
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h5.panel-title
            eRFQ Details
          .heading-elements
            = link_to edit_auction_path do
              .btn-group.heading-btn
                %button.btn.btn-primary Edit eRFQ
            %ul.icons-list
              %li
                %a{"data-action" => "collapse"}
        .panel-body
          .row
            .col-md-12
              .col-md-4
                .panel.panel-default.border-left-xlg.border-left-primary
                  .panel-heading.text-semibold
                    %i.icon-cogs.position-left
                    Part Details
                  .panel-body
                    %dl.dl-horizontal
                      %dt Part number:
                      %dd
                        = "#{@auction.part_num}"
                      %dt Description:
                      %dd
                        = "#{@auction.auction_part.description}"
                      %dt Quantity:
                      %dd
                        = "#{number_with_delimiter(@auction.quantity, :delimiter => ',') || "1"}"
                      %dt Acceptable Conditions:
                      %dd
                        = "#{AssetDecorator.rename(@auction, @auction.condition)}"
                      %dt Required Documentation:
                      %dd
                        = "#{@auction.req_forms.reject(&:blank?).to_sentence}"
                      %dt Cycle Requirement:
                      %dd
                        = "#{@auction.cycles ? number_with_delimiter(@auction.cycles, :delimiter => ',') : "N/A"}"
                      %dt Target Price:
                      %dd
                        = "#{@auction.target_price || "N/A"}"
              .col-md-4
                .panel.panel-default.border-left-xlg.border-left-primary
                  .panel-heading.text-semibold
                    %i.icon-user.position-left
                    Contact Information
                  .panel-body
                    %dl.dl-horizontal
                      %dt Company:
                      %dd
                        = "#{@auction.company.name}"
                      %dt Representative:
                      %dd
                        = "#{@auction.company.representative}"
                      %dt Email:
                      %dd
                        = "#{@auction.company.email}"
                      %dt Phone Number:
                      %dd
                        = "#{@auction.company.phone}"
                      %dt Address:
                      %dd
                        = "#{@auction.company.address}"
                        %br
                        = "#{@auction.company.city}"
                        = ", #{@auction.company.state}"
                        = "#{@auction.company.country}"
              .col-md-4
                .panel.panel-default.border-left-xlg.border-left-primary
                  .panel-heading.text-semibold
                    %i.icon-truck.position-left
                    Shipping Details
                  .panel-body.text-center
                    %dl
                      %dt Ship To:
                      %dd ATTN: Bob Smith
                      %dd
                        = "#{@auction.company.name}"
                      %dd
                        = "#{@auction.company.address}"
                        %br
                        = "#{@auction.company.city}"
                        = ", #{@auction.company.state}"
                        = "#{@auction.company.zip}"
                        = "#{@auction.company.country}"
      .panel.panel-flat
        .panel-heading
          %h5.panel-title
            Received Quotes
            %a.heading-elements-toggle
              %i.icon-more
          .heading-elements
            - if @auction.company == current_user
              %ul.icons-list
                %li
                  %a{"data-action" => "collapse"}
            -else
              - if current_user.temp
                = link_to temp_user_new_bid_path(@auction) do
                  .btn-group.heading-btn
                    %button.btn.btn-primary Submit Quote
              - else
                = link_to new_auction_bid_path(@auction) do
                  .btn-group.heading-btn
                    %button.btn.btn-primary Submit Quote
              %ul.icons-list
                %li
                  %a{"data-action" => "collapse"}
        .panel-body
          - if @auction.bids.empty? && @auction.invitees.empty?
            .nobid.center-align
            %p.flow-text There are no bids on this auction yet.
            #bids-container
          - if !@auction.invitees.empty?
            %h5.text-light
              Invited Suppliers
            %table#invited-suppliers.table.responsive-table.bordered
              %thead
                %tr
                  -if current_user == @auction.company
                    %th Company
                  %th MFG
                  %th Serial Number
                  %th Condition
                  %th Price
                  %th Est. Shipping
                  %th Docs
                  %th Tag Date
                  %th QTY
                  %th
              %tbody
                - BidDecorator.decorate_collection(@invited_suppliers_bids.order(part_price: :asc)).each do |bid|
                  %tr
                    = render bid
                - @auction_invitees.each do |co|
                  -if !@auction.bidders.include?(co)
                    %tr
                      -if current_user == @auction.company
                        %td
                          =co.name.upcase
                      %td --
                      %td.upcase --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td
          - if !@bid_aero_suppliers_bids.empty?
            %br
            %h5.text-light
              Bid Aero Suppliers
            %table#bid-aero-suppliers.table.responsive-table.bordered
              %thead
                %tr
                  -if current_user == @auction.company
                    %th Company
                  %th MFG
                  %th Serial Number
                  %th Condition
                  %th Price
                  %th Est. Shipping
                  %th Docs
                  %th Tag Date
                  %th QTY
                  %th
              %tbody
                - BidDecorator.decorate_collection(@bid_aero_suppliers_bids.order(part_price: :asc)).each do |bid|
                  %tr#cursor-row
                    = render bid

  -# .col-lg-1
  -#   - if @auction.company == current_user
  -#     .col-md-3
  -#       .col-md-2
  -#         = form_tag "/auctions/#{@auction.id}", class: "update-target-price", method: 'PATCH' do
  -#           = text_field_tag 'target_price', nil, placeholder: 'Update Target Price', class: "dollars"
  -#           / %div.btn.custom-btn.target-price{style: 'margin-top: 10px;'}
  -#           = button_tag(type: "submit", class: "btn-floating btn-small custom-green-color plus-button") do
  -#             %i.fa.fa-lg.fa-plus
