.row
  .col.s12
    .card
      .card-content
        %span.card-title.activator.grey-text.text-darken-4
          %h5
            = @auction.auction_part.description
          %h6
            = @auction.part_num

        - if @auction.company == current_user
          = link_to 'Edit', edit_auction_path(@auction), class: 'btn custom-btn right'
        - else
          = link_to 'New Bid', new_auction_bid_path(@auction), class: 'btn custom-btn right'
        %hr{style: "clear:both;margin-top: 60px;"}/
        %ul
          %li.center-align
            %h5= @all_conditons_empty ? "No Condition Avaiable" : "Acceptable Conditions"
            %div.conditons-of-part
              - if @auction.condition_ne
                %p= @condition_ne
              - if @auction.condition_oh
                %p= @condition_oh
              - if @auction.condition_sv
                %p= @condition_sv
              - if @auction.condition_ar
                %p= @condition_ar
              - if @auction.condition_sc
                %p= @condition_sc
        %hr/
        %p.flow-text
          Initial Price:
          = number_to_currency @init_price
        - if @auction.bids.empty?
          .nobid.center-align
            %p.flow-text There are no bids on this auction yet.
        - else
          #bids-container
            %div
              %h2 Bids
            %table.table.responsive-table.bordered
              %thead
                %tr
                  %th Company
                  %th Serial Number
                  %th Condition
                  %th Manufacturer
                  %th Amount
                  %th Avg Rating
              %tbody
                - @auction.bids.order(amount: :asc).each do |bid|
                  %tr#cursor-row
                    = render bid

