<div id="auction-show-background">

  <%= render 'layouts/navbar' %>

  <main class="clearfix">

    <div id="banner" class="clearfix">
      <div>
          <h1 class="part-name">
            <%= @auction.auction_part.description %>
            <%= @auction.part_num %>
          </h1>
      </div>
    </div>

    <div id="main-container" class="clearfix">
      <div id="auction-buttons">
        <% if @auction.company == current_user %>
          <%= link_to 'Edit', edit_auction_path(@auction), class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'New Bid', new_auction_bid_path(@auction), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="container">

        <div class="container col-md-6">
          <h3>Conditions:</h3>
          <p>
            <%= @condition_ne %>
            <%= @condition_oh %>
            <%= @condition_sv %>
            <%= @condition_ar %>
            <%= @condition_sc %>
          </p>
        </div>
        <div class="container col-md-6">
          <h3>Initial Price:</h3>
          <%= number_to_currency @init_price %>
        </div>
      </div>
      
      <% if @auction.bids.empty? %>
        <div class="nobid text-center">
          <h4>There are no bids on this auction yet.</h4>
        </div>
      <% else %>
        
        <div class="container" id="bids-container">
          <div>
            <h2> Bids </h2>
          </div>
          <table class="table table-hover.table-condensed">
            <thead>
              <tr>
                <th>Company</th>
                <th>Serial Number</th>
                <th>Condition</th>
                <th>Manufacturer</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
                  <% @auction.bids.order(amount: :asc).each do |bid| %>
                    <tr id="cursor-row">
                      <%= render bid %>
                    </tr>
                  <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    
    </div>
  </main>
</div>
