<p id="notice"><%= notice %></p>

<div>
  <h1>Part number:</h1>
  <%= @auction.part_num %>
</div>
<div>
  <h1>Initial Price:</h1>
  <%= number_to_currency @init_price %>
</div>


<h2> Bids </h2>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Amount:</th>
        <th>Company:</th>
      </tr>
    </thead>
    <tbody>
          <% @auction.bids.each do |bid| %>
            <tr>
              <%= render bid %>
            </tr>
          <% end %>
    </tbody>
  </table>


</div>

<% if @auction.company == current_user %>
  <%= link_to 'Edit', edit_auction_path(@auction), class: 'btn btn-primary' %>
<% else %>
  <%= link_to 'New Bid', new_auction_bid_path(@auction), class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', company_path, class: 'btn btn-primary' %>
