.row
  .col.s12
    .card
      .card-content
        %span.card-title.grey-text.text-darken-4
          .col-lg-3.auction-top-title
            .col-lg-1
              %h5.col-sm-2.part-details
                .col-sm-1.font-bold
                  Part Number
                .col-sm-1
                = ": #{@auction.part_num}"
              %h6.col-sm-2.part-details
                .col-sm-1.font-bold
                  Description
                .col-sm-1
                = ": #{@auction.auction_part.description}"
              %h6.col-sm-2.part-details
                .col-sm-1.font-bold
                  Target Price
                .col-sm-1
                = ": #{@auction.target_price || "N/A"}"
              %h6.col-sm-2.part-details
                .col-sm-1.font-bold
                  Quantity
                .col-sm-1
                = ": #{number_with_delimiter(@auction.quantity, :delimiter => ',') || "1"}"
              %h6.col-sm-2.part-details
                .col-sm-1.font-bold
                  Conditions
                .col-sm-1
                = ": #{AssetDecorator.rename(@auction, @auction.condition)}"

              %h6.col-sm-2.part-details
                .col-sm-1.font-bold
                  Min Cycles
                .col-sm-1
                  = ": #{@auction.cycles ? number_with_delimiter(@auction.cycles, :delimiter => ',') : "N/A"}"
              -if @auction.company == current_user
                %h6
                  = link_to 'Edit/Invite Suppliers', edit_auction_path(@auction)
            .col-lg-2
              .col-lg-1
                - if @auction.company == current_user
                  .col-md-3
                    .col-md-2
                      = form_tag "/auctions/#{@auction.id}", class: "update-target-price", method: 'PATCH' do
                        = text_field_tag 'target_price', nil, placeholder: 'Update Target Price', class: "dollars"
                        / %div.btn.custom-btn.target-price{style: 'margin-top: 10px;'}
                        = button_tag(type: "submit", class: "btn-floating btn-small custom-green-color plus-button") do
                          %i.fa.fa-lg.fa-plus
                    
                - else
                  - if current_user.temp?
                    = link_to 'New Quote', temp_user_new_bid_path(@auction), class: 'btn custom-btn right' 
                  - else
                    = link_to 'New Quote', new_auction_bid_path(@auction), class: 'btn custom-btn right'

              .col-lg-1.shipping-info
                %h6
                  %ul
                    %li
                      %strong
                        Shipping To
                      %div
                        = @auction.destination_zip + ", "
                        = @auction.destination_city
                      %div
                        = @auction.destination_country
                      %div{ style: "margin-top: 12px !important;"}
                        %strong
                          ="Delivery Date"
                        %div
                          = @auction.required_date ? @auction.required_date.to_formatted_s(:rfc822) : "N/A"
          .col-lg-2.auction-title
            .col-lg-1
              
            .col-lg-1
              
        %hr/
        - if @auction.bids.empty? && @auction.invitees.empty?
          .nobid.center-align
            %p.flow-text There are no bids on this auction yet.
        #bids-container
          - if !@auction.invitees.empty?
            %h4.custom-card-title
              Invited Suppliers
            %table#invited-suppliers.table.responsive-table.bordered
              %thead
                %tr
                  %th Company
                  %th Manufacturer
                  %th Serial Number
                  %th Condition
                  %th Price
                  %th Est. Shipping
                  %th Docs
                  %th Qty
                  %th
              %tbody
                - BidDecorator.decorate_collection(@invited_suppliers_bids.order(part_price: :asc)).each do |bid|
                  %tr#cursor-row
                    = render bid
                - @auction_invitees.each do |co|
                  -if !@auction.bidders.include?(co)
                    %tr
                      %td
                        =co.name
                      %td --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td --
                      %td
          - if !@bid_aero_suppliers_bids.empty?
            %br
            %h4.custom-card-title
              Bid Aero Suppliers
            %table#bid-aero-suppliers.table.responsive-table.bordered
              %thead
                %tr
                  %th Company
                  %th Manufacturer
                  %th Serial Number
                  %th Condition
                  %th Price
                  %th Est. Shipping
                  %th Docs
                  %th Qty
                  %th
              %tbody
                - BidDecorator.decorate_collection(@bid_aero_suppliers_bids.order(part_price: :asc)).each do |bid|
                  %tr#cursor-row
                    = render bid
