.row
  .col.s12.m10.offset-m1
    .card
      .card-content

        %span.card-title.activator.grey-text.text-darken-4
          %h5
            = @auction.auction_part.description
          %h6
            = @auction.part_num

        - if @auction.company == current_user
          = link_to 'Edit', edit_auction_path(@auction), class: 'btn custom-btn right'
        - else
          = link_to 'New Bid', new_auction_bid_path(@auction), class: 'btn custom-btn right'
        %hr{style: "clear:both;margin-top: 60px;"}/
        %ul.collapsible{"data-collapsible" => "accordion"}
          %li
            .collapsible-header
              %i.material-icons> star_rate
              = @all_conditons_empty ? "No Condition Avaiable" : "Conditions"
            .collapsible-body
              - if !@condition_ne.empty?
                %p= @condition_ne
              - if !@condition_oh.empty?
                %p= @condition_oh
              - if !@condition_sv.empty?
                %p= @condition_sv
              - if !@condition_ar.empty?
                %p= @condition_ar
              - if !@condition_sc.empty?
                %p= @condition_sc

        %h3 Initial Price:
        = number_to_currency @init_price
        - if @auction.bids.empty?
          .nobid.text-center
            %h4 There are no bids on this auction yet.
        - else
          #bids-container.container
            %div
              %h2 Bids
            %table.table{:class => "table-hover.table-condensed"}
              %thead
                %tr
                  %th Company
                  %th Serial Number
                  %th Condition
                  %th Manufacturer
                  %th Amount
              %tbody
                - @auction.bids.order(amount: :asc).each do |bid|
                  %tr#cursor-row
                    = render bid

