.card
  .card-content
    .card-title.center-align
      %h5 Notifications
    %hr/
    %table#invetoryPartsDT.table.striped.responsive-table.bordered
      %thead
        %tr
          %th Event
          %th Part #
          %th When?
          %th Condition
      %tbody
        - @notifications.each do |note|
          %tr.notification
            -if note.bid != nil && note.bid.tx
              -if note.bid.tx.seller == current_user
                %td.srchtbl= link_to note.message, seller_purchase_path(note.bid.tx.id)
              -elsif note.bid.tx.buyer == current_user
                %td.srchtbl= link_to note.message, buyer_purchase_path(note.bid.tx.id)
            -else
              %td.srchtbl= link_to note.message, note.auction

            %td.srchtbl= note.auction.part_num
            -if note.bid
              %td.srchtbl= distance_of_time_in_words(Time.zone.now.to_f - note.created_at.to_f) + ' ago'
              %td.srchtbl= note.bid.inventory_part.condition
            -else
              %td.srchtbl= distance_of_time_in_words(Time.zone.now.to_f - note.created_at.to_f) + ' ago'
              %td.srchtbl= note.auction.condition

            
            / %td= link_to 'Delete', inventory_part_path(inventory), method: :delete, data: { confirm: 'Are you sure?' }
      

