!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "initial-scale=1, maximum-scale=1"}

    %title BidAero
    = stylesheet_link_tag    'application', 'errors', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag     'errors', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / CSS
    = stylesheet_link_tag     "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500"
    = stylesheet_link_tag     "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    = stylesheet_link_tag     "https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"
    = stylesheet_link_tag     "https://cdn.datatables.net/plug-ins/1.10.11/integration/font-awesome/dataTables.fontAwesome.css"
    = stylesheet_link_tag     "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
    = stylesheet_link_tag     "https://fonts.googleapis.com/icon?family=Material+Icons"
    / JavaScript
    = javascript_include_tag  "https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"
    = javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"


  %body{:class => "#{body_class} Site"}
    %header
      %nav
        .nav-wrapper.top-nav
          %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.material-icons menu
          %ul#nav-buttons.right.hide-on-med-and-down
            - notification = Notification.any_unread?(current_user)
            %li
              = link_to root_path, style: 'display: flex;',  class: "top-nav-icons" do
                %i.material-icons{style: 'font-size: 24px'}
                  dashboard     
            - if Notification.any_unread?(current_user)
              %li{style: 'height: 64px;display: flex;align-items:center;'}
                = link_to notifications_index_path, style: 'display: flex;', class: 'bell' do
                  %span.material-icons{class: "red-bell"}
                    notifications_active
            -else
              %li{style: 'height: 64px;display: flex;align-items:center;'}
                = link_to notifications_index_path, style: 'display: flex;', class: "bell top-nav-icons" do
                  %span.material-icons
                    notifications
            %li
              = link_to edit_company_path, style: 'display: flex;', class: "top-nav-icons" do
                %i.fa.fa-cog{style: 'font-size: 20px;'}
            %li
              = link_to "Log out", logout_path, style: 'display: flex;', class: "top-nav-icons"
          %span.company-logo
            %a{:href => root_path}
              = image_tag("/images/bid_aero_logo.png")
          %span#button.right.hide-on-med-and-down{style: "margin-right: 15px;"}
            %a.dropdown-button.btn.custom-btn{"data-activates" => "nav-dropdown", "data-beloworigin" => "true", :href => "javascript:void(0)"}
              New
              %i.material-icons.my-custom-m-icons.arrow-dropdown arrow_drop_down
            / Dropdown Structure
            %ul#nav-dropdown.dropdown-content
              %li
                = link_to 'Part Search', new_auction_path
              %li
                = link_to 'Inventory', new_inventory_part_path
              %li
                = link_to 'Engine Listing', new_engine_path
              %li
                = link_to 'Aircraft Listing', new_aircraft_path
  =yield