.navbar.navbar-inverse
	.navbar-header
		%a.navbar-brand{:href => dashboard_path}
			= image_tag("/images/bid_aero_logo.png")
		%ul.nav.navbar-nav.pull-right.visible-xs-block
			%li
				%a{"data-target" => "#navbar-mobile", "data-toggle" => "collapse"}
					%i.icon-tree5
	#navbar-mobile.navbar-collapse.collapse
		%ul.nav.navbar-nav.navbar-right.top-navbar-right
			%li
				.heading-elements
					%a.btn.btn-labeled.btn-labeled-right.bg-blue.heading-btn.dropdown-toggle{"data-toggle" => "dropdown"}
						New
						%b
							%i.caret.navbar-icon
					%ul.dropdown-menu.dropdown-menu-right
						%li
							= link_to "eRFQ", new_auction_path
						%li
						%li
			%li
				=link_to dashboard_path do
					%i.glyphicon.glyphicon-th-large.navbar-icon
			%li
				=link_to notifications_index_path do
					%i.glyphicon.glyphicon-bell.navbar-icon
			%li.dropdown.dropdown-user
				%a.dropdown-toggle{"data-toggle" => "dropdown"}
					%span
						= current_user.representative
					%i.caret.navbar-icon
				%ul.dropdown-menu.dropdown-menu-right
					%li
						%a{:href => "#"}
							%i.icon-user-plus
							My Company profile
					%li
						%a{:href => "#"}
							%i.icon-coins
							My balance
					%li
						%a{:href => "#"}
							%span.badge.badge-warning.pull-right 58
							%i.icon-comment-discussion
							Messages
					%li.divider
					%li
						%a{:href => "#"}
							%i.icon-cog5
							Account settings
					%li
						%a{:href => logout_path}
							%i.icon-switch2
							Logout
/ /main navbar
/ Second navbar
#navbar-second.navbar.navbar-default
	%ul.nav.navbar-nav.no-border.visible-xs-block
		%li
			%a.text-center.collapsed{"data-target" => "#navbar-second-toggle", "data-toggle" => "collapse"}
				%i.icon-menu7
	#navbar-second-toggle.navbar-collapse.collapse
		%ul.nav.navbar-nav
			%li.dropdown.text-size-large
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					BUY
					%span.caret
				%ul.dropdown-menu
					%li
						=link_to auctions_path do
							%i.glyphicon.glyphicon-list-alt
							Sent eRFQ's
					%li.dropdown-header My Orders
					%li
						=link_to pending_purchases_path do
							%i.icon-history
							Pending Purchases
					%li
						=link_to purchases_path do
							%i.icon-price-tags
							Purchase History
			%li.dropdown.text-size-large
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					SELL
					%span.caret
				%ul.dropdown-menu
					%li
						=link_to bids_path do
							%i.icon-stack3
							My Quotes
					%li.dropdown-header Parts Wanted
					%li
						=link_to current_opportunities_path do
							%i.icon-megaphone
							Broadcast
					%li
						=link_to auction_invites_path do
							%i.icon-envelop
							Received eRFQ's
					%li.dropdown-header My Sales
					%li
						=link_to pending_sales_path do
							%i.icon-history
							Pending Sales
						=link_to sales_path do
							%i.icon-chart
							Sales History
			%li.dropdown.text-size-large
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					MANAGE
					%span.caret
				%ul.dropdown-menu
					%li
						= link_to inventory_parts_path do
							%i.icon-cogs
							Inventory
					%li.dropdown-header Advertisements
					%li
						= link_to aircrafts_path do
							%i.icon-airplane2
							Aircraft Listings
						= link_to engines_path do
							%i.icon-compass4
							Engine Listings
					-unless current_user.payout_selected?
						%li.dropdown-header Services
						%li
							= link_to select_payout_preference_path do
								%i.icon-cash
								Setup Payoneer Escrow
		-# %ul.nav.navbar-nav.navbar-right
		-# 	%li
		-# 		%a{:href => "#"} Text link
		-# 	%li.dropdown
		-# 		%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
		-# 			%i.icon-cog3
		-# 			%span.visible-xs-inline-block.position-right Dropdown
		-# 			%span.caret
		-# 		%ul.dropdown-menu.dropdown-menu-right
		-# 			%li
		-# 				%a{:href => "#"} Action
		-# 			%li
		-# 				%a{:href => "#"} Another action
		-# 			%li
		-# 				%a{:href => "#"} Something else here
		-# 			%li.divider
		-# 			%li
		-# 				%a{:href => "#"} One more separated line
/ /second navbar
/ Page header
