%header
  %nav
    .nav-wrapper.top-nav.z-depth-2
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      %ul#nav-buttons.right.hide-on-med-and-down
        - notification = Notification.any_unread?(current_user)
        - if Notification.any_unread?(current_user)
          %li{style: 'height: 64px;display: flex;align-items:center;'}
            = link_to notifications_index_path, style: 'display: flex;', class: 'bell' do
              %span.material-icons{class: "red-bell"}
                notifications_active
        -else
          %li{style: 'height: 64px;display: flex;align-items:center;'}
            = link_to notifications_index_path, style: 'display: flex;', class: "bell" do
              %span.material-icons
                notifications
        %li
          = link_to 'Inventory', inventory_parts_path
        %li
          = link_to "Log out", logout_path
      %span.company-logo
        %a{:href => root_path}
          = image_tag("/images/bid_aero_logo.png")
      %span#button.right.hide-on-med-and-down{style: "margin-right: 15px;"}
        %a.dropdown-button.btn.custom-btn{"data-activates" => "nav-dropdown", "data-beloworigin" => "true", :href => "javascript:void(0)"}
          New
          %i.material-icons.my-custom-m-icons arrow_drop_down
        / Dropdown Structure
        %ul#nav-dropdown.dropdown-content
          %li
            = link_to 'Part Search', new_auction_path
          %li
            = link_to 'Inventory', new_inventory_part_path
          %li
            = link_to 'Engine Listing', new_engine_path
          %li
            = link_to 'Aircraft Listing', new_aircraft_path
    %ul#mobile-demo.side-nav.fixed{style: "z-index: 0;"}
      %li{style: "padding-top: 65px;"}
        = link_to home_path, {class: "sidenav-button"} do
          %i.material-icons.left
            home
          Dashboard
      %li
        = link_to auctions_path, {class: "sidenav-button"} do
          %i.material-icons.left
            gavel
          Current Auctions
      %li
        = link_to inventory_parts_path, {class: "sidenav-button"} do
          %i.material-icons.left
            build
          Inventory
      %li
        = link_to aircrafts_path, {class: "sidenav-button"} do
          %i.material-icons.left
            airplanemode_active
          Aircrafts
      %li
        = link_to engines_path, {class: "sidenav-button"} do
          %i.material-icons.left
            toys
          Engines
      %li
        = link_to sales_path, {class: "sidenav-button"} do
          %i.material-icons.left
            attach_money
          Sales
      %li
        = link_to purchases_path, {class: "sidenav-button"} do
          %i.material-icons.left
            add_shopping_cart
          Purchases
      %li
        = link_to company_docs_path, {class: "sidenav-button"} do
          %i.material-icons.left
            folder
          Documents
      %li
        = link_to edit_company_path, {class: "sidenav-button"} do
          %i.material-icons.left
            settings
          Settings
      %li
        = link_to logout_path, {class: "sidenav-button"} do
          %i.material-icons.left
            power_settings_new
          Log out


  :javascript
    $(document).ready(function(){
      $('.dropdown-button').dropdown();
    });
