= form_for([@company, @rating]) do |f|

  - %w[timeliness packaging documentation dependability bid_aero].each do |rating|
    .field
      %div{id: "#{rating}-star-rating"}
      = f.label :"#{rating}"
  / .field
  /   #star-rating
  /   = f.label :timeliness
  %br
  .actions
    %a.waves-effect.waves-light.btn-large= f.submit "Submit"

  :javascript
    ['timeliness', 'packaging', 'documentation', 'dependability', 'bid_aero'].forEach(function(somethingNess) {
      $('#' + somethingNess + '-star-rating').raty({
        scoreName: 'rating[' + somethingNess + ']',
        starOff      : '#{image_path("star-off.png")}',
        starOn       : '#{image_path("star-on.png")}',
      });
    });