%section#pricing.page-section.shadow_section.pt-0.pb-0.banner-section.bg-dark{"data-background" => asset_path("full-width-images/aircraftlisting.jpg"), :style => "background-attachment:initial;"}
  .container.relative
    .row
      .col-md-6
        %h1.title_0{:style => "margin: 245px 0px 0px 0px;"} AIRCRAFT LISTINGS
      .col-sm-6
        #key.mt-140.mt-lg-80.mb-140.mb-lg-80
          .banner-content
            .banner-description{:style => "height:250px"}
    / Scroll Down
    .local-scroll
      %a{:href => "#footer"}
        %img.scroll-down{:src => asset_path("footer/white-arrow-down.png")}/
    / End Scroll Down
/ END KEY FEATURES
/ Pricing Section
%section.shadow_section.small-section.bg-gray-lighter.new
  .container.relative
    %form#mailchimp.form.align-center
      .row
        .col-md-12
          #footer.newsletter-label.font-alt
            .col-md-12
              %h4 AIRCRAFT LISTING
              .banner-description.center Listing aviation assets on our site is easy and completely free of charge. Sign up to Bid Aero and manage your fleet for sale or lease, upload Aircraft Detail Sheets and Mini-Packs to inform potential buyers or lessors.
        .row
          .col-xs-12
            .table-responsive.aircraftlisting.gradient
              %table.table.table-striped
                %thead
                  %tr
                    %th.aircraftlisting
                      %h5.title AIRCRAFT TYPE
                    %th.aircraftlisting
                      %h5.title MSN
                    %th.aircraftlisting
                      %h5.title Y.O.B.
                    %th.aircraftlisting
                      %h5.title ENGINE TYPE
                    %th.aircraftlisting
                      %h5.title APU
                    %th.aircraftlisting
                      %h5.title AVAILABLE FOR
                    %th.aircraftlisting
                      %h5.title OWNER/REP
                    %th.aircraftlisting
                      %h5.title CONTACT
                %tbody
                  - @aircrafts.each do |aircraft|
                    %tr
                      %td.input= aircraft.aircraft_type.upcase
                      %td.input= link_to aircraft.msn.upcase, aircraft_show_path(aircraft.id)
                      %td.input= aircraft.yob.upcase
                      %td.input= aircraft.engine_major_variant.upcase + "-" + aircraft.engine_minor_variant.upcase
                      %td.input= aircraft.apu_model.upcase
                      - if aircraft.sale? && aircraft.lease?
                        %td.input= "Sale or Lease"
                      - elsif aircraft.lease?
                        %td.input= "Lease"
                      -else
                        %td.input= "Contact Rep"
                      %td.input= aircraft.company.representative
