<h2>NEW LEAD</h2>

<div>Contact Name: <%= @name %></div>
<div>Company: <%= @company %></div>
<div>E-Mail: <%= @email %></div>
<div>Phone Number: <%= @phone %></div>
<div>Message: <%= @message %></div>