<h2>New Auction has been created</h2>

<div>Company: <%= @company.name %></div>
<div>Company ID: <%= @company.id %></div>
<div>E-Mail: <%= @email %></div>
<div>Auction ID: <%= @auction.id %></div>
<div>Part: <%= @auction.part_num %></div>
<div>Condition: <%= @auction.condition %></div>