<div>
	<h2> No Matches for Auction</h2>
	<div>Auction Created by: <%= @company.name %></div>
	<div>Company ID: <%= @company.id %></div>
	<div>Company email: <%= @company.email %></div>

	<div>Auction #: <%= @auction.id %></div>
	<div>Part Number: <%= @auction.part_num %></div>
	<div>Conditions: <%= @auction.condition %></div>
</div>
