= form_for(@company) do |f|
  - if @company.errors.any?
    #error_explanation
      %p
        = pluralize(@company.errors.count, "error")
        prohibited this company from being saved:
      %ul
        - @company.errors.full_messages.each do |message|
          %li= message
  .input-field.col.s12.m6
    = f.label :name
    = f.text_field :name
  .input-field.col.s12.m6
    = f.label :email
    = f.text_field :email
  .input-field.col.s12.m6
    = f.label :phone
    = f.text_field :phone
  .input-field.col.s12.m6
    = f.label :representative
    = f.text_field :representative
  .input-field.col.s12.m6
    = f.label :ein
    = f.text_field :EIN
  .input-field.col.s12.m6
    = f.label :address
    = f.text_field :address
  .input-field.col.s12.m6
    = f.label :city
    = f.text_field :city
  .input-field.col.s12.m6
    = f.label :state
    = f.text_field :state
  .input-field.col.s12.m6
    = f.label :zip
    = f.text_field :zip
  .input-field.col.s12.m6
    = f.select :country, options_for_select(ArmorPaymentsApi.country_list), {}, {:class => "select"}
  .input-field.col.s12.m6
    = f.label :password
    = f.password_field :password
  .input-field.col.s12.m6
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %span.actions
  -if current_user
    = f.submit 'Update', class: 'btn custom-btn'
  -else
    %button.btn.custom-btn.waves-effect.waves-light{:name => "action", :type => "submit"}
      %i.material-icons.right lock_open
      Sign Up
