.row
  .col.s12
    .card
      .card-content
        .card-title.center-align
          %h5.custom-card-title.center
            Company Profile
        %hr/
        .row.tab-box
          .col.s12
            %ul.tabs
              %li.tab.col.m3.s12
                %a.custom-green-text{:href => "#account"} Escrow
              %li.tab.col.m3.s12
                %a.custom-green-text{:href => "#companyDocuments"} Documents
              %li.tab.col.m3.s12
                %a.custom-green-text{:href => "#edit"} Edit Profile Info
              %li.tab.col.m3.s12
                %a.custom-green-text{:href => "#changePassword"} Change Password
              .indicator.custom-green-color{:style => "z-index:1"}
              
          #account.col.s12.active{style: "margin-top: 90px;"}
            .center
              %script{:src => "https://app.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
              %a.paymentInstructionsFrame-lightbox-preview.payout-preference-btn{"data-url" => "#{@url}"}
                %i.fa.fa-lock{"aria-hidden" => "true"}
                Manage Escrow Settings
          #companyDocuments.col.s12.active{style: "margin-top: 15px;"}
            = render 'company_docs/index'
          #edit.col.s12.active{style: "margin-top: 15px;"}
            = render 'edit_form'
          #changePassword.col.s12.active
            = simple_form_for(@company) do |f|
              - if @company.errors.any?
                #error_explanation
                  %p
                    = pluralize(@company.errors.count, "error")
                    prohibited this company from being saved:
                  %ul
                    - @company.errors.full_messages.each do |message|
                      %li= message
              .input-field.col.s12.m6
                = f.label :password
                = f.password_field :password
              .input-field.col.s12.m6
                = f.label :password_confirmation
                = f.password_field :password_confirmation
              %span.actions
                = f.submit 'Update Password', class: 'btn custom-btn'


              :javascript
                $(function($){
                  $("#phone").mask("(999) 999-9999");
                });
