%p#notice.center-align= notice
%h1 Listing Companies
%table
  %thead
    %tr
      %th Name
      %th Email
      %th Password digest
      %th{:colspan => "3"}
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.email
        %td= company.password_digest
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td
          = link_to company, data: { company_purchase_behavior: 'delete' } do
            %span.material-icons.red-text.icon-34
              delete_forever
%br/
= link_to 'New Company', new_company_path
