.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-history.position-left.text-primary
        %span.text-semibold.text-primary Pending Purchases
        \- The following eRFQs require action
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          =link_to dashboard_path do
            Dashboard
        %li
          Buy
        %li.active
          Pending Purchases
      .heading-elements
        -# = link_to @auction do
          .btn-group.heading-btn
            %button.btn.btn-primary Return to eRFQ
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h5.panel-title
            Pending Purchases
        .datatable-scroll
          %table.table.datatable-basic.dataTable.no-footer
            %thead
              %tr{:role => "row"}
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Part Number: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Order Number
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Description: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Part Number
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Conditions: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Description
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Start Date: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Serial Number
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Days Active: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Condition
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Bid Count: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Total Amount
                %th.text-center.sorting_disabled{"aria-controls" => "DataTables_Table_0", "aria-label" => "Lowest Bid: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} PO
                %th.text-center.sorting_disabled{"aria-label" => "Actions", :colspan => "1", :rowspan => "1", :style => "width: 100px;"} Invoice
            %tbody
              - @purchases.each do |transaction|
                %tr.odd{:role => "row"}
                  %td= link_to transaction.order_id || "N/A", buyer_purchase_path(transaction)
                  %td= transaction.bid.inventory_part.part_num
                  %td= transaction.bid.inventory_part.description
                  %td= transaction.bid.inventory_part.serial_num
                  %td= AssetDecorator.rename(transaction.bid, transaction.bid.inventory_part.condition)
                  %td= number_to_currency transaction.total_amount
                  %td= link_to transaction.po_num || "N/A", transaction_po_path(transaction, :format => :pdf)
                  %td= link_to transaction.invoice_num || "N/A", transaction_invoice_path(transaction, :format => :pdf)
