.card
  .card-content
    .card-title.center-align
      %h5 Purchases
    %hr/
    %table#invetoryPartsDT.table.striped.responsive-table.bordered
      %thead
        %tr
          %th Part Number
          %th Description
          %th Serial Number
          %th Condition
          %th Manufacturer
          %th Price Paid
          %th
      %tbody
        - @purchases.each do |bid|
          %tr
            %td.srchtbl= bid.inventory_part.part_num
            %td.srchtbl= bid.inventory_part.description
            %td.srchtbl= bid.inventory_part.serial_num
            %td.srchtbl= bid.inventory_part.condition
            %td.srchtbl= bid.inventory_part.manufacturer
            %td.srchtbl= number_to_currency bid.amount
            -if bid.delivered == true && bid.auction.paid == false
              %td= link_to 'Release Payment', auction_bid_path(bid.auction, bid)
            -else
              %td= link_to 'Show', auction_bid_path(bid.auction, bid)
            / %td= button_to 'Release Funds', {controller: "bids", action: "release_payment", id: bid.id, auction_id: bid.auction.id}, method: "post" unless !bid.delivered || bid.auction.paid

            
      /doesn't work right. ask henry to fix

