.card
  .card-content
    .card-title.center-align
      %h5.custom-card-title.center Purchases
    %hr/
    %table#purchaseDT.table.striped.responsive-table.bordered
      %thead
        %tr
          %th Part Number
          %th Description
          %th Serial Number
          %th Condition
          %th Manufacturer
          %th Price Paid
          %th
      %tbody
        - @purchases.each do |transaction|
          %tr
            %td.srchtbl= transaction.bid.inventory_part.part_num
            %td.srchtbl= transaction.bid.inventory_part.description
            %td.srchtbl= transaction.bid.inventory_part.serial_num
            %td.srchtbl= transaction.bid.inventory_part.condition
            %td.srchtbl= transaction.bid.inventory_part.manufacturer
            %td.srchtbl= number_to_currency transaction.bid.total_amount
            -if transaction.delivered && !transaction.paid
              %td= link_to 'Release Payment', auction_bid_path(transaction.auction, transaction.bid)
            -elsif transaction.delivered && transaction.paid
              %td= link_to 'Completed', auction_bid_path(transaction.auction, transaction.bid)
            -else
              %td= link_to 'Pending', auction_bid_path(transaction.auction, transaction.bid)
            / %td= button_to 'Release Funds', {controller: "bids", action: "release_payment", id: bid.id, auction_id: bid.auction.id}, method: "post" unless !bid.delivered || bid.auction.paid


      /doesn't work right. ask henry to fix

