.card
  .card-content
    .card-title.center-align
      %h5.custom-card-title.center Purchases
    %hr/
    %table#purchaseDT.table.striped.responsive-table.bordered
      %thead
        %tr
          %th Part Number
          %th Description
          %th Serial Number
          %th Condition
          %th Manufacturer
          %th Price Paid
          %th
          %th PO
          %th Invoice
      %tbody
        - @purchases.each do |transaction|
          %tr
            %td.srchtbl= transaction.bid.inventory_part.part_num
            %td.srchtbl= transaction.bid.inventory_part.description
            %td.srchtbl= transaction.bid.inventory_part.serial_num
            %td.srchtbl= transaction.bid.inventory_part.condition
            %td.srchtbl= transaction.bid.inventory_part.manufacturer
            %td.srchtbl= number_to_currency transaction.total_amount
            -if transaction.delivered && !transaction.paid
              %td= link_to 'Release Payment', buyer_purchase_path(transaction)
            -elsif transaction.complete
              %td= link_to 'Completed', buyer_purchase_path(transaction)
            -else
              %td= link_to 'Pending', buyer_purchase_path(transaction)
            %td.srchtbl= link_to 'PO', transaction_po_path(transaction, :format => :pdf) 
            %td.srchtbl= link_to 'Invoice', transaction_invoice_path(transaction, :format => :pdf) 
            / %td= button_to 'Release Funds', {controller: "bids", action: "release_payment", id: bid.id, auction_id: bid.auction.id}, method: "post" unless !bid.delivered || bid.auction.paid


      /doesn't work right. ask henry to fix

