#company-name.clearfix
  .company-name
    %h1= @company.name
  = link_to 'New Auction', new_auction_path, class: 'btn custom-btn white-btn'
#dashboard-auctions.clearfix
  #buyer-auctions
    - if @buyer_auctions.empty?
      %p You have no auctions yet.
    - else
      = render 'auctions/buyer_auctions'
  #supplier-auctions
    - if @supplier_auctions.empty?
      %p You are not participating in any auctions yet.
    - else
      = render 'auctions/supplier_auctions'
  #possible-auctions
    - if @possible_auctions.empty?
      %p There are no companies looking for parts in your inventory yet.
    - else
      = render 'auctions/possible_auctions'
  #inactive-auctions
    - if @inactive_auctions.empty?
      %p You haven't closed any auctions yet.
    - else
      = render 'auctions/inactive_auctions'
