<p id="notice"><%= notice %></p>

<p>
  <h1>Name:</h1>
  <%= @company.name %>
</p>

<%= link_to 'New auction', new_auction_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
<%= link_to 'Back', companies_path, class: 'btn btn-primary' %>
