<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Inventory', inventory_parts_path, class: 'btn btn-primary' %>
</div>

<div>
  <h1><%= @company.name %></h1>
</div>

<div class="container">
  <%= render 'auctions/buyer_auctions' %>
  <%= render 'auctions/supplier_auctions' %>
</div>
<div class="container">
  <%= render 'auctions/possible_auctions' %>
  <%= render 'auctions/inactive_auctions' %>
</div>


