<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Back', companies_path, class: 'btn btn-primary' %>
  <%= link_to 'Inventory', inventory_parts_path, class: 'btn btn-primary' %>
</div>

<div>
  <h1><%= @company.name %></h1>
</div>


<div id="auction_list" class="col-md-6 clearfix">
  <h2>Your auctions:</h2>
  <% unless @buyer_auctions.nil? %>

    <% @buyer_auctions.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>
    <%= link_to 'New auction', new_auction_path, class: 'btn btn-primary' %>

  <% end %>
</div>

<div id="bid_list" class="col-md-6 clearfix">
  <h2>Your bids:</h2>
  <% unless @supplier_auctions.nil? %>

    <% @supplier_auctions.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>

  <% end %>
</div>

<div id="bid_list" class="col-md-6 clearfix">
  <h2>Your bids:</h2>
  <% unless @possible_auctions.nil? %>

    <% @possible_auction.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>

  <% end %>
</div>


