%ul
  %li.card.checkout.destination-address.hoverable
    .card-content.checkout.step4-1
      %h6.left-align.collapsible-header
        Step 5: Tracking Details & Release of Funds
      .row
        %span.card-title.col.s12
          %h5.required_date.center-align Carrier has confirmed delivery!
          %h6.required_date.center-align You have 3 days to approve or file a dispute on the order
          -if @release_payment_url
            %br
            .row
              .col.s4.pull-s1.right
                %script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
                %a.paymentInstructionsFrame-lightbox-preview.release-payment-btn{"data-url" => "#{@release_payment_url}"}
                  / # =image_tag "releasefundsbutton.jpg",  :class => "paymentbutton"
                  Release Funds
              .col.s4.push-s2.left
                %script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
                %a.paymentInstructionsFrame-lightbox-preview.initiate-dispute-btn{"data-url" => "#{@dispute_transaction_url}"}
                  %i.material-icons.initiate-dispute-icon
                    error_outline
                  Initiate Dispute
          -elsif @transaction.disputed && !@transaction.dispute_settlement
            %br
            %div.center{style: "text-align: center; width: 427px; margin: auto;"}
              You have disputed this transaction. Please resolve the issue within three business days or it will be eleveated to the Arbitration phase (to be handled by NetNeutrals).
            %br
            %div.center
              %script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
              %a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@dispute_settlement_url}"}
                Create Settlement Offer
          -elsif @transaction.dispute_settlement
            %br
            %div.center{style: "text-align: center; margin: auto;"}
              A settlement offer has been made, please review.
              %script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
              %a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@settlement_offer_url}"}
                Review Settlement Offer