- unless @buyer_auctions.nil?
  %p#notice.center-align= notice
  .row
    .card
      .card-content
        %table.table.striped.responsive-table#buyerAuctionsDT.bordered
          %thead
            %tr
              %th Part Number
              %th Description
              %th Conditions
              %th Start Date
              %th Days Active
              %th Bid Count
              %th Lowest Bid
              %th
              %th
          %tbody
            - @buyer_auctions.each do |auction|
              %tr
                %td= link_to auction.part_num, auction
                %td= AuctionPart.find(auction.id).description
                %td= auction.condition
                %td= auction.created_at.strftime("%m/%d/%Y")
                %td= ((Time.zone.now - auction.created_at) / 1.day).to_i
                %td= auction.bids.count
                %td= number_to_currency auction.bids.minimum(:amount) unless auction.bids.empty?
                %td= link_to 'Edit', edit_auction_path(auction)
                / %td= link_to 'Delete', auction, method: :delete, data: { confirm: 'Are you sure?' }
                %td= link_to 'Delete', auction, data: { buyer_auctions_behavior: 'delete' } if auction.company == current_user
        %div{style: "text-align: left;"}
          = link_to 'New Auction', new_auction_path, class: 'btn custom-btn'
