.row
  .card
    .card-content
      %table.table.striped.responsive-table#buyerAuctionsDT.bordered
        %thead
          %tr
            %th Part Number
            %th Description
            %th Conditions
            %th Start Date
            %th Days Active
            %th Bid Count
            %th Lowest Bid
            %th
        %tbody
          - @owned_auctions.each do |auction|
            %tr
              %td= link_to auction.part_num, auction
              %td= auction.auction_part.description
              %td= auction.index_condition_tag
              %td= auction.created_at.strftime("%m/%d/%Y")
              %td= ((Time.zone.now - auction.created_at) / 1.day).to_i
              %td= auction.bids.count
              %td= number_to_currency auction.bids.minimum(:part_price) unless auction.bids.empty?
              %td.clearfix
                = link_to edit_auction_path(auction) do
                  %span.material-icons.amber-text.icon-34
                    mode_edit
                - if auction.company == current_user
                  = link_to auction, data: { buyer_auctions_behavior: 'delete' } do
                    %span.material-icons.red-text.icon-34
                      delete_forever
