.row
  .card
    .card-content
      %table.table.striped.responsive-table#currentOpportunitiesDT.bordered
        %thead
          %tr
            %th Part Number
            %th Description
            %th Conditions
            %th Start Date
            %th Days Active
            %th Amount of Bids
            %th Lowest Bid
        %tbody
          - @sales_opportunities.each do |auction|
            %tr
              %td= link_to auction.part_num, auction
              %td= auction.auction_part.description
              %td= auction.index_condition_tag
              %td= auction.created_at.strftime("%m/%d/%Y")
              %td= ((Time.zone.now - auction.created_at) / 1.day).to_i
              %td= auction.bids.count
              -if auction.bids.empty?
                %td= "N/A"
              -else
                %td= number_to_currency auction.bids.minimum(:part_price)
              -# %td= link_to 'Edit', edit_auction_path(auction)
              -# %td= link_to 'Delete', auction, data: { current_opportunities_behavior: 'delete' }
