.form-container.destination-form
	= form_for (@transaction) do |f|
		- if @transaction.errors.any?
			#error_explanation
				%p
					= pluralize(@transaction.errors.count, "error")
					prohibited this shipment from being saved:
				%ul
					- @transaction.errors.full_messages.each do |message|
						%li= message
		%fieldset
			%legend.text-semibold
				%i.icon-truck.position-left
				Shipping details
				%small.display-block.text-italic.text-muted *Carrier and tracking number are required for release of funds
		.row
			.col-md-6
				.form-group
					%h7 Select Shipment Carrier
					/ = f.text_field :name, class: 'form-control', placeholder: "Company name"
					- carrier_collection = @carriers[:body].collect{ |c| [c["name"], c["carrier_id"]] }
					= f.select :carrier_code, options_for_select(carrier_collection), {}, { :class => "select" }
					/ # - f.select :carrier, options_for_select(carrier_collection), :value => carrier_collection({}, { :class => "select" }

					/ # = f.hidden_field :carrier, :value => carrier_collection[:carrier_code - 1][0]
					/ # = cm.hidden_field :id, :value => @transaction.id
			.col-md-6
				.form-group
					%h7 Tracking Number
					= f.text_field :tracking_num, class: 'form-control', placeholder: "Tracking Number"
		.row
			.col-md-8
				.form-group
					%h7 Shipment Comments & Description
					= f.text_area :shipment_desc, class: 'form-control', placeholder: "Description of Shipment"
		.row
			.actions.pull-right.pr-10
				= f.submit 'Submit Tracking Info', class: 'btn bg-success'
