.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-history.position-left.text-primary
				%span.text-semibold.text-primary Pending Purchases
				\- Transaction Details
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Buy
				%li
					Sent eRFQ's
				%li
					-# #{@auction.user_reference_num}
				%li.active
					Pending Purchase
.page-container{:style => "min-height:363px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			/ Toolbar
			.navbar.navbar-default.navbar-component.navbar-xs
				%ul.nav.navbar-nav.visible-xs-block
					%li.full-width.text-center
						%a{"data-target" => "#navbar-filter", "data-toggle" => "collapse"}
							%i.icon-menu7
				#navbar-filter.navbar-collapse.collapse
					%ul.nav.navbar-nav
						%li.active
							%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#activity"}
								%i.icon-menu7.position-left
								Activity
						%li
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#schedule"}
								%i.icon-comment-discussion.position-left
								Messages with Seller
								%span.badge.badge-success.badge-inline.position-right 32
						-# %li
						-# 	%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#settings"}
						-# 		%i.icon-cog3.position-left
						-# 		Settings
					-# .navbar-right
					-# 	%ul.nav.navbar-nav
					-# 		%li
					-# 			%a{:href => "#"}
					-# 				%i.icon-stack-text.position-left
					-# 				Notes
					-# 		%li
					-# 			%a{:href => "#"}
					-# 				%i.icon-collaboration.position-left
					-# 				Friends
					-# 		%li
					-# 			%a{:href => "#"}
					-# 				%i.icon-images3.position-left
					-# 				Photos
					-# 		%li.dropdown
					-# 			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					-# 				%i.icon-gear
					-# 				%span.visible-xs-inline-block.position-right Options
					-# 				%span.caret
					-# 			%ul.dropdown-menu.dropdown-menu-right
					-# 				%li
					-# 					%a{:href => "#"}
					-# 						%i.icon-image2
					-# 						Update cover
					-# 				%li
					-# 					%a{:href => "#"}
					-# 						%i.icon-clippy
					-# 						Update info
					-# 				%li
					-# 					%a{:href => "#"}
					-# 						%i.icon-make-group
					-# 						Manage sections
					-# 				%li.divider
					-# 				%li
					-# 					%a{:href => "#"}
					-# 						%i.icon-three-bars
					-# 						Activity log
					-# 				%li
					-# 					%a{:href => "#"}
					-# 						%i.icon-cog5
					-# 						Profile settings
			/ /toolbar
			/ User profile
			.row
				.col-lg-9
					.tabbable
						.tab-content
							#activity.tab-pane.fade.active.in
								/ Timeline
								.timeline.timeline-left.content-group
									.timeline-container
										/ Sales stats
										.timeline-row
											.timeline-icon
												%a{:href => "#"}
													=image_tag 'bidaeroswirl.png'
											.row
												.col-lg-6
													.panel.panel-flat.timeline-content
														.panel-heading
															%h6.panel-title
																Bill To:
																%a.heading-elements-toggle
																	%i.icon-more
															.heading-elements
																%span.heading-text
																	%i.icon-history.position-left.text-success
																	Updated #############
														.panel-body
															= "#{@auction.company.name}"
															%br
															= "#{@auction.company.address}"
															%br
															= "#{@auction.company.city}"
															= ", #{@auction.company.state}"
															= "#{@auction.company.country}"
												.col-lg-6
													.panel.panel-flat.timeline-content
														.panel-heading
															%h6.panel-title
																Ship To:
																%a.heading-elements-toggle
																	%i.icon-more
															.heading-elements
																%span.heading-text
																	%i.icon-history.position-left.text-success
																	Updated #############
														.panel-body
															= "ATTN:" " " "#{@transaction.destination.title}"
															%br
															= "#{@transaction.destination.address}"
															%br
															= "#{@transaction.destination.city}"
															= ", #{@transaction.destination.state}"
															= "#{@transaction.destination.country}"
										/ /sales stats
										/ Blog post
										.timeline-row
											.timeline-icon
												%img{:alt => "", :src => "assets/images/placeholder.jpg"}/
											.panel.panel-flat.timeline-content
												.panel-heading
													%h6.panel-title
														Himalayan sunset
														%a.heading-elements-toggle
															%i.icon-more
													.heading-elements
														%span.heading-text
															%i.icon-checkmark-circle.position-left.text-success
															49 minutes ago
														%ul.icons-list
															%li.dropdown
																%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																	%i.icon-arrow-down12
																%ul.dropdown-menu.dropdown-menu-right
																	%li
																		%a{:href => "#"}
																			%i.icon-user-lock
																			Hide user posts
																	%li
																		%a{:href => "#"}
																			%i.icon-user-block
																			Block user
																	%li
																		%a{:href => "#"}
																			%i.icon-user-minus
																			Unfollow user
																	%li.divider
																	%li
																		%a{:href => "#"}
																			%i.icon-embed
																			Embed post
																	%li
																		%a{:href => "#"}
																			%i.icon-blocked
																			Report this post
												.panel-body
													%a.display-block.content-group{:href => "#"}
														%img.img-responsive.content-group{:alt => "", :src => "assets/images/cover.jpg"}/
													%h6.content-group
														%i.icon-comment-discussion.position-left
														Comment from
														= succeed ":" do
															%a{:href => "#"} Jason Ansley
													%blockquote
														%p When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra despite taped laughed the much audacious less inside tiger groaned darn stuffily metaphoric unihibitedly inside cobra.
														%footer
															Jason,
															%cite{:title => "Source Title"} 10:39 am
												.panel-footer.panel-footer-transparent
													%a.heading-elements-toggle
														%i.icon-more
													.heading-elements
														%ul.list-inline.list-inline-condensed.heading-text
															%li
																%a.text-default{:href => "#"}
																	%i.icon-eye4.position-left
																	438
															%li
																%a.text-default{:href => "#"}
																	%i.icon-comment-discussion.position-left
																	71
														%span.heading-btn.pull-right
															%a.btn.btn-link{:href => "#"}
																Read post
																%i.icon-arrow-right14.position-right
										/ /blog post
										/ Date stamp
										.timeline-date.text-muted
											%i.icon-history.position-left
											= succeed "," do
												%span.text-semibold Monday
										/ /date stamp
										/ Invoices
										.timeline-row
											.timeline-icon
												.bg-warning-400
													%i.icon-cash3
											.row
												.col-lg-6
													.panel.border-left-lg.border-left-danger.invoice-grid.timeline-content
														.panel-body
															.row
																.col-sm-6
																	%h6.text-semibold.no-margin-top Leonardo Fellini
																	%ul.list.list-unstyled
																		%li Invoice #:  0028
																		%li
																			Issued on:
																			%span.text-semibold 2015/01/25
																.col-sm-6
																	%h6.text-semibold.text-right.no-margin-top $8,750
																	%ul.list.list-unstyled.text-right
																		%li
																			Method:
																			%span.text-semibold SWIFT
																		%li.dropdown
																			Status:  
																			%a.label.bg-danger-400.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																				Overdue
																				%span.caret
																			%ul.dropdown-menu.dropdown-menu-right.active
																				%li.active
																					%a{:href => "#"}
																						%i.icon-alert
																						Overdue
																				%li
																					%a{:href => "#"}
																						%i.icon-alarm
																						Pending
																				%li
																					%a{:href => "#"}
																						%i.icon-checkmark3
																						Paid
																				%li.divider
																				%li
																					%a{:href => "#"}
																						%i.icon-spinner2.spinner
																						On hold
																				%li
																					%a{:href => "#"}
																						%i.icon-cross2
																						Canceled
														.panel-footer.panel-footer-condensed
															%a.heading-elements-toggle
																%i.icon-more
															.heading-elements
																%span.heading-text
																	%span.status-mark.border-danger.position-left
																	Due:
																	%span.text-semibold 2015/02/25
																%ul.list-inline.list-inline-condensed.heading-text.pull-right
																	%li
																		%a.text-default{"data-target" => "#invoice", "data-toggle" => "modal", :href => "#"}
																			%i.icon-eye8
																	%li.dropdown
																		%a.text-default.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																			%i.icon-menu7
																			%span.caret
																		%ul.dropdown-menu.dropdown-menu-right
																			%li
																				%a{:href => "#"}
																					%i.icon-printer
																					Print invoice
																			%li
																				%a{:href => "#"}
																					%i.icon-file-download
																					Download invoice
																			%li.divider
																			%li
																				%a{:href => "#"}
																					%i.icon-file-plus
																					Edit invoice
																			%li
																				%a{:href => "#"}
																					%i.icon-cross2
																					Remove invoice
												.col-lg-6
													.panel.border-left-lg.border-left-success.invoice-grid.timeline-content
														.panel-body
															.row
																.col-sm-6
																	%h6.text-semibold.no-margin-top Rebecca Manes
																	%ul.list.list-unstyled
																		%li Invoice #:  0027
																		%li
																			Issued on:
																			%span.text-semibold 2015/02/24
																.col-sm-6
																	%h6.text-semibold.text-right.no-margin-top $5,100
																	%ul.list.list-unstyled.text-right
																		%li
																			Method:
																			%span.text-semibold Paypal
																		%li.dropdown
																			Status:  
																			%a.label.bg-success-400.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																				Paid
																				%span.caret
																			%ul.dropdown-menu.dropdown-menu-right.active
																				%li
																					%a{:href => "#"}
																						%i.icon-alert
																						Overdue
																				%li
																					%a{:href => "#"}
																						%i.icon-alarm
																						Pending
																				%li.active
																					%a{:href => "#"}
																						%i.icon-checkmark3
																						Paid
																				%li.divider
																				%li
																					%a{:href => "#"}
																						%i.icon-spinner2.spinner
																						On hold
																				%li
																					%a{:href => "#"}
																						%i.icon-cross2
																						Canceled
														.panel-footer.panel-footer-condensed
															%a.heading-elements-toggle
																%i.icon-more
															.heading-elements
																%span.heading-text
																	%span.status-mark.border-success.position-left
																	Due:
																	%span.text-semibold 2015/03/24
																%ul.list-inline.list-inline-condensed.heading-text.pull-right
																	%li
																		%a.text-default{"data-target" => "#invoice", "data-toggle" => "modal", :href => "#"}
																			%i.icon-eye8
																	%li.dropdown
																		%a.text-default.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																			%i.icon-menu7
																			%span.caret
																		%ul.dropdown-menu.dropdown-menu-right
																			%li
																				%a{:href => "#"}
																					%i.icon-printer
																					Print invoice
																			%li
																				%a{:href => "#"}
																					%i.icon-file-download
																					Download invoice
																			%li.divider
																			%li
																				%a{:href => "#"}
																					%i.icon-file-plus
																					Edit invoice
																			%li
																				%a{:href => "#"}
																					%i.icon-cross2
																					Remove invoice
										/ /invoices
										/ Video posts
										.timeline-row
											.timeline-icon
												%img{:alt => "", :src => "assets/images/placeholder.jpg"}/
											.row
												.col-lg-6
													.panel.panel-flat.timeline-content
														.panel-heading
															%h6.panel-title
																Woodturner master
																%a.heading-elements-toggle
																	%i.icon-more
															.heading-elements
																%span.heading-text
																	%i.icon-checkmark-circle.position-left.text-success
																	Yesterday, 7:52 am
																%ul.icons-list
																	%li.dropdown
																		%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																			%i.icon-arrow-down12
																		%ul.dropdown-menu.dropdown-menu-right
																			%li
																				%a{:href => "#"}
																					%i.icon-user-lock
																					Hide user posts
																			%li
																				%a{:href => "#"}
																					%i.icon-user-block
																					Block user
																			%li
																				%a{:href => "#"}
																					%i.icon-user-minus
																					Unfollow user
																			%li.divider
																			%li
																				%a{:href => "#"}
																					%i.icon-embed
																					Embed post
																			%li
																				%a{:href => "#"}
																					%i.icon-blocked
																					Report this post
														.panel-body
															.video-container.content-group
																%iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/126545288?title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
															Bewitchingly amid heard by llama glanced fussily quetzal more that overcame eerie goodness badger woolly where since gosh accurate irrespective that pounded much winked urgent and furtive house gosh one while this more.
														.panel-footer.panel-footer-transparent
															%a.heading-elements-toggle
																%i.icon-more
															.heading-elements
																%ul.list-inline.list-inline-condensed.heading-text
																	%li
																		%a.text-default{:href => "#"}
																			%i.icon-eye4.position-left
																			285
																	%li
																		%a.text-default{:href => "#"}
																			%i.icon-comment-discussion.position-left
																			12
																%span.heading-btn.pull-right
																	%a.btn.btn-link{:href => "#"}
																		Read post
																		%i.icon-arrow-right14.position-right
												.col-lg-6
													.panel.panel-flat.timeline-content
														.panel-heading
															%h6.panel-title
																%i.icon-comment-discussion.position-left
																%a{:href => "#"} Jason
																commented:
																%a.heading-elements-toggle
																	%i.icon-more
															.heading-elements
																%ul.icons-list
																	%li.dropdown
																		%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
																			%i.icon-arrow-down12
																		%ul.dropdown-menu.dropdown-menu-right
																			%li
																				%a{:href => "#"}
																					%i.icon-user-lock
																					Hide user posts
																			%li
																				%a{:href => "#"}
																					%i.icon-user-block
																					Block user
																			%li
																				%a{:href => "#"}
																					%i.icon-user-minus
																					Unfollow user
																			%li.divider
																			%li
																				%a{:href => "#"}
																					%i.icon-embed
																					Embed post
																			%li
																				%a{:href => "#"}
																					%i.icon-blocked
																					Report this post
														.panel-body
															.video-container.content-group
																%iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/133217402?title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
															%blockquote
																%p When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra.
																%footer
																	Jason,
																	%cite{:title => "Source Title"} 10:39 am
										/ /video posts
								/ /timeline
							#schedule.tab-pane.fade
								/ Messages
								.panel.panel-flat.timeline-content
									.panel-heading
										%h6.panel-title
											Conversation with James
											%a.heading-elements-toggle
												%i.icon-more
										-# .heading-elements
										-# 	%ul.icons-list
										-# 		%li.dropdown
										-# 			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
										-# 				%i.icon-circle-down2
										-# 			%ul.dropdown-menu.dropdown-menu-right
										-# 				%li
										-# 					%a{:href => "#"}
										-# 						%i.icon-user-lock
										-# 						Hide user posts
										-# 				%li
										-# 					%a{:href => "#"}
										-# 						%i.icon-user-block
										-# 						Block user
										-# 				%li
										-# 					%a{:href => "#"}
										-# 						%i.icon-user-minus
										-# 						Unfollow user
										-# 				%li.divider
										-# 				%li
										-# 					%a{:href => "#"}
										-# 						%i.icon-embed
										-# 						Embed post
										-# 				%li
										-# 					%a{:href => "#"}
										-# 						%i.icon-blocked
										-# 						Report this post
									.panel-body
										%ul.media-list.chat-list.content-group
											%li.media.date-step
												%span Today
											%li.media.reversed
												.media-body
													.media-content Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe
													%span.media-annotation.display-block.mt-10
														Tue, 8:12 am
														%a{:href => "#"}
															%i.icon-pin-alt.position-right.text-muted
												.media-right
													%a{:href => "assets/images/placeholder.jpg"}
														%img.img-circle.img-md{:alt => "", :src => "assets/images/placeholder.jpg"}/
											%li.media
												.media-left
													%a{:href => "assets/images/placeholder.jpg"}
														%img.img-circle.img-md{:alt => "", :src => "assets/images/placeholder.jpg"}/
												.media-body
													.media-content Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.
													%span.media-annotation.display-block.mt-10
														Wed, 4:20 pm
														%a{:href => "#"}
															%i.icon-pin-alt.position-right.text-muted
											%li.media.reversed
												.media-body
													.media-content Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.
													%span.media-annotation.display-block.mt-10
														2 hours ago
														%a{:href => "#"}
															%i.icon-pin-alt.position-right.text-muted
												.media-right
													%a{:href => "assets/images/placeholder.jpg"}
														%img.img-circle.img-md{:alt => "", :src => "assets/images/placeholder.jpg"}/
											%li.media
												.media-left
													%a{:href => "assets/images/placeholder.jpg"}
														%img.img-circle.img-md{:alt => "", :src => "assets/images/placeholder.jpg"}/
												.media-body
													.media-content Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.
													%span.media-annotation.display-block.mt-10
														13 minutes ago
														%a{:href => "#"}
															%i.icon-pin-alt.position-right.text-muted
											%li.media.reversed
												.media-body
													.media-content
														%i.icon-menu.display-block
												.media-right
													%a{:href => "assets/images/placeholder.jpg"}
														%img.img-circle.img-md{:alt => "", :src => "assets/images/placeholder.jpg"}/
										%textarea.form-control.content-group{:cols => "1", :name => "enter-message", :placeholder => "Enter your message...", :rows => "3"}
										.row
											.col-xs-6
												%ul.icons-list.icons-list-extended.mt-10
													%li
														%a{"data-container" => "body", "data-original-title" => "Send photo", "data-popup" => "tooltip", :href => "#", :title => ""}
															%i.icon-file-picture
													%li
														%a{"data-container" => "body", "data-original-title" => "Send video", "data-popup" => "tooltip", :href => "#", :title => ""}
															%i.icon-file-video
													%li
														%a{"data-container" => "body", "data-original-title" => "Send file", "data-popup" => "tooltip", :href => "#", :title => ""}
															%i.icon-file-plus
											.col-xs-6.text-right
												%button.btn.bg-teal-400.btn-labeled.btn-labeled-right{:type => "button"}
													%b
														%i.icon-circle-right2
													Send
				.col-lg-3
					/ Buyer/Seller Contact info
					.panel.panel-white
						.panel-heading
							%h6.panel-title
								Contact information
								%a.heading-elements-toggle
									%i.icon-more
							.heading-elements
								%ul.icons-list
									%li
										%a{"data-action" => "collapse"}
						.panel-body
							.thumb.thumb-rounded.thumb-slide.thumb-transaction
								= image_tag("bidaeroswirl.png", class: "navbar-brand-signup")
						.panel-body
							.mt-5
								%label.text-semibold Company:
								%span.pull-right-sm #{@transaction.seller.name}
							.mt-5
								%label.text-semibold Representative:
								%span.pull-right-sm #{@transaction.seller.representative}
							.mt-5
								%label.text-semibold Phone number:
								%span.pull-right-sm #{@transaction.seller.phone}
							.mt-5
								%label.text-semibold Email:
								%span.pull-right-sm #{@transaction.seller.email}
							-# - else
							-# 	.form-group.mt-5
							-# 		%label.text-semibold Company:
							-# 		%span.pull-right-sm #{@transaction.buyer.name}
							-# 	.form-group.mt-5
							-# 		%label.text-semibold Representative:
							-# 		%span.pull-right-sm #{@transaction.buyer.representative}
							-# 	.form-group
							-# 		%label.text-semibold Phone number:
							-# 		%span.pull-right-sm #{@transaction.buyer.phone}
							-# 	.form-group
							-# 		%label.text-semibold Corporate Email:
							-# 		%span.pull-right-sm #{@transaction.buyer.email}
					/ Order Details
					.panel.panel-white
						.panel-heading
							%h6.panel-title
								Part Details
								%a.heading-elements-toggle
									%i.icon-more
							.heading-elements
								%ul.icons-list
									%li
										%a{"data-action" => "collapse"}
						.panel-body
							.mt-5
								%label.text-semibold Part Number:
								%span.pull-right-sm #{@auction.part_num}
							.mt-5
								%label.text-semibold Serial Number:
								%span.pull-right-sm #{@transaction.bid.inventory_part.serial_num}
							.mt-5
								%label.text-semibold Condition:
								%span.pull-right-sm #{AssetDecorator.rename(@bid, @bid.inventory_part.condition)}
							%tr
							.mt-5
								%label.text-semibold Tag Date:
								%span.pull-right-sm #{@transaction.bid.tag_date}
							.mt-5
								%table.table.table-hover
									%thead
										%tr
											%th.text-center Available Documentation
									%tbody
										- @transaction.bid.inventory_part.documents.each do |document|
											%tr
												%td= document.name
												= link_to 'View/Download', document.attachment_url
												-# -if document.attachment.url.to_s.downcase.include? "pdf"
												-# 	%td.view-doc= link_to 'View/Download', document.attachment_url
												-# -else
												-# 	%td.view-doc= link_to 'Download', document.attachment_url
								-# %span.pull-right-sm #{@transaction.bid.documents}
					/ /Order Details
					/ Share your thoughts
					.panel.panel-body
						.media.no-margin.stack-media-on-mobile
							.media-left.media-middle
								%i.icon-lifebuoy.icon-3x.text-muted.no-edge-top
							.media-body
								%h6.media-heading.text-semibold Got a question or request?
								%span.text-muted Contact us directly at Support@bid.aero
			/ /user profile
		/ /main content
	/ /page content

%link{:href => "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700", :rel => "stylesheet", :type => "text/css"}
.row
	.col.s12
		.card
			.card-content
				%div.card-title.grey-text.text-darken-4.center-align
					Checkout -
					= @auction.part_num
					| SN:
					= @bid.inventory_part.serial_num
					| Condition:
					= AssetDecorator.rename(@bid, @bid.inventory_part.condition)

		%div.checkout-status-bar
			.checkout-wrap
				%ul.checkout-bar
					%li.confirm-address-bubble.visited Confirm Shipping Address
					%li.generate-po-bubble.visited Generate P.O.
					-if !@transaction.invoice_num
						%li.generate-invoice-bubble.active Awaiting Vendor Invoice
						%li.review-payment-bubble.next Review  Payment
						%li.track-shipping-bubble.next Track Shipping
					-else
						%li.generate-invoice-bubble.visited Review Vendor Invoice
						%li.review-payment-bubble.active Submit  Payment
						%li.track-shipping-bubble.next Track Shipping

		%ul
			%li.card.checkout.destination-address.hoverable
				.card-content.step1-2
					%h6.left-align.collapsible-header
						Step 1 & 2: Shipping Confirmation and P.O Generated
					%br/
					.row
						%span.card-title.col.s6
							%h5.center-align
								Shipping To:
							%h6.auction-full-address.center-align
								%div
									= @auction.destination.title
								%div
									= @auction.full_address
							%h6.required_date.center-align
								= "Required Date: "
								= @auction.required_date
								%br/
								%br/
								%br/
								-if @auction.resale_status
									%h6.required_date.center-align
										= "A copy of #{@transaction.buyer.name}'s Resale Certificate was provided to the Vendor."
						%h6.required_date.center-align
							%div
								To Download and View custom P.O. please click below.
							%br/
							%br/
							=link_to (image_tag "BidaeroPO.jpg",  :class => "bidaeropo"), transaction_po_path(@transaction, :format => :pdf)

		-if @transaction.invoice_num
			= render 'transactions/partials/buyer3'
			= render 'transactions/partials/buyer4'
		-else
			= render 'transactions/partials/buyer3blur'
			= render 'transactions/partials/buyer4blur'


		-if @transaction.delivered
			= render 'transactions/partials/buyer5'
		-else
			= render 'transactions/partials/buyer5blur'
/ -if @transaction.delivered
/ 	%li.card.checkout.destination-address.hoverable
/ 		.card-content.checkout.step4-1
/ 			%h6.left-align.collapsible-header
/ 				Step 5: Tracking Details & Release of Funds
/ 			.row
/ 				%span.card-title.col.s12
/ 					%h6.required_date.center-align Carrier has confirmed delivery
/ 					%h6.required_date.center-align You have 3 days to approve or file a dispute on the order
/ 					-if @release_payment_url
/ 						%span.right
/ 							%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
/ 							%a.paymentInstructionsFrame-lightbox-preview.release-payment-btn{"data-url" => "#{@release_payment_url}"}
/ 								/ # =image_tag "releasefundsbutton.jpg",  :class => "paymentbutton"
/ 								Release Funds
/ 						%span.left
/ 							%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
/ 							%a.paymentInstructionsFrame-lightbox-preview.initiate-dispute-btn{"data-url" => "#{@dispute_transaction_url}"}
/ 								%i.material-icons.initiate-dispute-icon
/ 									error_outline
/ 								Initiate Dispute
/ 					-elsif @transaction.disputed && !@transaction.dispute_settlement
/ 						%br
/ 						%div.center{style: "text-align: center; width: 427px; margin: auto;"}
/ 							You have disputed this transaction. Please resolve the issue within three business days or it will be eleveated to the Arbitration phase (to be handled by NetNeutrals).
/ 						%br
/ 						%div.center
/ 							%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
/ 							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@dispute_settlement_url}"}
/ 								Create Settlement Offer
/ 					-elsif @transaction.dispute_settlement
/ 						%br
/ 						%div.center{style: "text-align: center; margin: auto;"}
/ 							A settlement offer has been made, please review.
/ 							%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
/ 							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@settlement_offer_url}"}
/ 								Review Settlement Offer
/ -else
/ 	%li.card.checkout.destination-address.hoverable.blurred
/ 		.card-content.checkout.step4-1
/ 			%h6.left-align.collapsible-header
/ 				Step 5: Tracking Details & Release of Funds
/ 			.row
/ 				%span.card-title.col.s12
/ 					%h6.required_date.center-align Carrier has confirmed delivery
/ 					%h6.required_date.center-align You have 3 days to approve or file a dispute on the order
/ 					-if @release_payment_url
/ 						%div.center-align
/ 						%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
/ 						%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@payment_url || @release_payment_url}"}
/ 							=image_tag "releasefundsbutton.jpg",  :class => "paymentbutton"
-# .row
-# 	.col.s12
-# 		.card.buyer_purchase
-# 			.card-content
-# 			%h3.custom-card-title.center
-# 				="Auction for #{@auction.part_num}"
-# 				%br
-# 				="#{@auction.auction_part.description}"
-# 			-if !@transaction.invoice_num
-# 				%div.center
-# 					/ make this an alert
-# 					%h5 Purchase Order generated.
-# 				%div.status
-# 					%span.tag.tag-pending-seller-confirmation Status: Pending Seller Confirmation
-# 				%div.center
-# 					Pending seller confirmation of tax and shipping info.
-# 					%br
-# 					The next step will require you to send funds into escrow once the Invoice is generated.
-# 			-elsif @transaction.invoice_num && !@transaction.paid
-# 				%div.status
-# 					%span.tag.tag-pending-funds-in-escrow Status: Awaiting Funds to Be Sent to Escrow
-# 				%div.center
-# 					Please send funds to escrow.
-# 			-elsif @transaction.paid && !@transaction.shipped
-# 				%div.status
-# 					%span.tag.tag-shipping-info Status: Pending Shipment
-# 				%div.center
-# 					Waiting for shipment information to be received.
-# 			-elsif @transaction.shipped && !@transaction.delivered
-# 				%div.status
-# 					%span.tag.tag-part-shipped Status: Part en Route
-# 				%div.center
-# 					Part is on the way, once part is accepted please release funds from escrow to seller.
-# 			-elsif @transaction.delivered && !@transaction.complete
-# 				%div.status
-# 					%span.tag.tag-part-delivered Status: Delivered
-# 				%div.center
-# 					Please Approve or Dispute the transaction.
-# 			-elsif @transaction.complete
-# 				%div.status
-# 					%span.tag.tag-complete Status: Complete
-# 				%div.center
-# 					Transaction has successfully been completed.
-# 			-elsif @transaction.disputed
-# 				%div.status
-# 					%span.tag.tag-disputed Status: Disputed
-# 				%div.center
-# 					Transaction has been disputed
-#
-# 			%hr
-# 			%div.part-info
-# 				%div
-# 					%strong Part Price:
-# 					= number_to_currency(@transaction.part_price)
-# 				%div
-# 					%strong Shipping Cost:
-# 					-if @transaction.shipping_account
-# 						= "Shipping is being placed on your account. Account ##{@transaction.shipping_account}"
-# 					-elsif @transaction.final_shipping_cost
-# 						= number_to_currency(@transaction.final_shipping_cost)
-# 					-else
-# 						= number_to_currency(@transaction.bid.est_shipping_cost)
-# 						%i
-# 							= "est"
-# 				%div
-# 					%strong Tax:
-# 					= @transaction.tax ? number_to_currency(@transaction.tax) : "TBD"
-# 				%div
-# 					%strong Service Fee:
-# 					= number_to_currency(@transaction.total_fee)
-# 				%div{style: "width: 50%; margin: 0 auto;"}
-# 					%strong Total:
-# 					= number_to_currency(@transaction.total_amount)
-# 			-if @payment_url || @release_payment_url
-# 				%p
-# 				%script{:src => "#{Rails.application.config.armor_modal_url}", :type => "text/javascript"}
-# 				%a#paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@payment_url || @release_payment_url}"}
-# 					-if @payment_url
-# 						="Click Here to Send Funds to Escrow"
-# 					-elsif @release_payment_url
-# 						="Release Payment From Escrow"
