.row
	.col.s12
		.card.buyer_purchase
			.card-content
			%h3.custom-card-title.center
				="Auction for #{@auction.part_num}"
				%br
				="#{@auction.auction_part.description}"
			-if !@transaction.invoice_num
				%div.center
					/ make this an alert
					%h5 Purchase Order generated.
				%div.status
					%span.tag.tag-pending-seller-confirmation Status: Pending Seller Confirmation
				%div.center
					Pending seller confirmation of tax and shipping info.
					%br
					The next step will require you to send funds into escrow once the Invoice is generated.
			-elsif @transaction.invoice_num && !@transaction.paid
				%div.status
					%span.tag.tag-pending-funds-in-escrow Status: Awaiting Funds to Be Sent to Escrow
				%div.center
					Please send funds to escrow.
			-elsif @transaction.paid && !@transaction.shipped
				%div.status
					%span.tag.tag-shipping-info Status: Pending Shipment
				%div.center
					Waiting for shipment information to be received.
				%div.center
					=" Shipping is being placed on your account. Account ##{@transaction.shipping_account}"
			-elsif @transaction.shipped && !@transaction.delivered
				%div.status
					%span.tag.tag-part-shipped Status: Part en Route
				%div.center
					Part is on the way, once part is accepted please release funds from escrow to seller.
			-elsif @transaction.delivered && !@transaction.complete && !@transaction.disputed
				%div.status
					%span.tag.tag-part-delivered Status: Delivered
				%div.center
					Please Approve or Dispute the transaction.
			-elsif @transaction.complete 
				%div.status
					%span.tag.tag-complete Status: Complete
				%div.center
					Transaction has successfully been completed.
			-elsif @transaction.disputed && !@transaction.dispute_settlement
				%div.status
					%span.tag.tag-disputed Status: Disputed
				%div.center
					Transaction has been disputed
			-elsif @transaction.dispute_settlement && !@transaction.settlement_accepted || !@transaction.settlement_rejected
				%div.status
					%span.tag.tag-disputed Status: Settlement Offer
				%div.center
					A settlement offer has been made, please review.
			-elsif @transaction.settlement_accepted
				%div.status
					%span.tag.tag-disputed Status: Settlement Offer Accepted
				%div.center
					Settlement offer has been accepted.
			-elsif @transaction.settlement_rejected
				%div.status
					%span.tag.tag-disputed Status: Settlement Offer Rejected
				%div.center
					Settlement offer has been rejected.

			%hr
			%div.part-info
				%div
					%strong Part Price:
					= number_to_currency(@transaction.part_price)
				%div
					%strong Shipping Cost:
					-if @transaction.shipping_account
						= "N/A"
					-elsif @transaction.final_shipping_cost
						= number_to_currency(@transaction.final_shipping_cost)
					-else
						= number_to_currency(@transaction.bid.est_shipping_cost)
						%i
							= "est"
				%div
					%strong Tax:
					= @transaction.tax ? number_to_currency(@transaction.tax) : "TBD"
				%div
					%strong Service Fee:
					= number_to_currency(@transaction.total_fee)
				%div{style: "width: 50%; margin: 0 auto;"}
					%strong Total:
					= number_to_currency(@transaction.total_amount)
				-if @payment_url || @release_payment_url || @transaction.disputed
					-if @payment_url
						%p
						%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
						%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@payment_url}"}
							="Click Here to Send Funds to Escrow"
							-p @payment_url
					-elsif @release_payment_url && !@transaction.disputed
						%div
							%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@release_payment_url}"}
								="Release Payment From Escrow"
						%div
							%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@dispute_transaction_url}"}
								="Initiate Dispute"
					-elsif @transaction.disputed && !@transaction.dispute_settlement
						%br
						%div.center{style: "text-align: center; width: 427px; margin: auto;"}
							You have disputed this transaction. Please resolve the issue within three business days or it will be eleveated to the Arbitration phase (to be handled by NetNeutrals).
						%br
						%div.center
							%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@dispute_settlement_url}"}
								Create Settlement Offer
					-elsif @transaction.dispute_settlement
						%br
						%div.center{style: "text-align: center; margin: auto;"}
							A settlement offer has been made, please review.
							%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
							%a.paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@settlement_offer_url}"}
								Review Settlement Offer


