%link{:href => "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700", :rel => "stylesheet", :type => "text/css"}
.row
	.col.s12
		.card
			.card-content
				%div.card-title.grey-text.text-darken-4.center-align
					Checkout -
					= @auction.part_num
					| SN: 
					= @bid.inventory_part.serial_num
					| Condition: 
					= AssetDecorator.rename(@bid, @bid.inventory_part.condition)

		%div.checkout-status-bar
			.checkout-wrap
				
				-if !@transaction.invoice_num
					%ul.checkout-bar
						%li.generate-po-bubble.visited Review Purchase Order
						%li.confirm-sale-bubble.active Generate Invoice
						%li.generate-invoice-bubble.next Awaiting Payment
						%li.review-payment-bubble.next Commence Shipping
						%li.track-shipping-bubble.next Release of Funds
				-elsif @transaction.invoice_num && !@transaction.paid
					%ul.checkout-bar
						%li.generate-po-bubble.visited Review Purchase Order
						%li.confirm-sale-bubble.visited Generate Invoice
						%li.generate-invoice-bubble.active Awaiting Payment
						%li.review-payment-bubble.next Commence Shipping
						%li.track-shipping-bubble.next Release of Funds
				-elsif @transaction.paid && !@transaction.delivered
					%ul.checkout-bar
						%li.generate-po-bubble.visited Review Purchase Order
						%li.confirm-sale-bubble.visited Generate Invoice
						%li.generate-invoice-bubble.visited Awaiting Payment
						%li.review-payment-bubble.active Commence Shipping
						%li.track-shipping-bubble.next Release of Funds
				-elsif @transaction.delivered && !@transaction.complete
					%ul.checkout-bar
						%li.generate-po-bubble.visited Review Purchase Order
						%li.confirm-sale-bubble.visited Generate Invoice
						%li.generate-invoice-bubble.visited Awaiting Payment
						%li.review-payment-bubble.visited Commence Shipping
						%li.track-shipping-bubble.active Release of Funds
				-elsif @transaction.complete
					%ul.checkout-bar.done
						%li.generate-po-bubble.visited Review Purchase Order
						%li.confirm-sale-bubble.visited Generate Invoice
						%li.generate-invoice-bubble.visited Awaiting Payment
						%li.review-payment-bubble.visited Commence Shipping
						%li.track-shipping-bubble.done Release of Funds

		%ul
			%li.card.checkout.destination-address.hoverable
				.card-content.step1-2
					%h6.left-align.collapsible-header
						Step 1 & 2: Review Purchase Order and Shipping Details
					%br/
					.row
						%span.card-title.col.s6
							%h5.center-align
								Ship To:
							%h6#auction-full-address.center-align
								-if @transaction.invoice_num
									%div
										= @auction.destination_company
									%div
										= @auction.full_address
								-else 
									%div
										= @auction.semi_address
										%br
										%br
										Exact address will be given once you have issued the invoice.
							%h6.required_date.center-align
								= "Required Date: "
								= @auction.required_date
								%br/
								%br/
								-if @auction.resale_yes
									%h5.required_date.center-align
										= "Resale Tax Certificate:"
									%h6.required_date.center-align
										= "To Download and View please click below."
										%br/
										%br/
										=link_to (image_tag "Resale-Certificate.jpg",  :class => "Resale-Certificate"), transaction_po_path(@transaction, :format => :pdf)
						%h6.required_date.center-align.col.s6
							= "To Download and View Purchase Order please click below."
							%br/
							%br/
							=link_to (image_tag "BidaeroPO.jpg",  :class => "bidaeropo"), transaction_po_path(@transaction, :format => :pdf)
		-if @transaction.invoice_num?
			%ul
				%li.card.checkout.destination-address.hoverable
					.card-content.checkout.step3-1
						%h6.left-align.collapsible-header
							Step 3: Sale Confirmation and Invoice Generated
						%br/
						.row
							%span.card-title.col.s6
								%h6.required_date.center-align
									To Download and View vendor Invoice please click below.
									%br/
									%br/
									=link_to (image_tag "bidaeroinvoice.jpg",  :class => "bidaeropo"), transaction_invoice_path(@transaction, :format => :pdf)
							%h5.center-align
								Sale Breakdown:
							%h7.left-align.col.s4.push-s1
								%ul.collection
									%li.collection-item.left-align
										Unit Price:
										%a.secondary-content
											= number_to_currency(@transaction.part_price)
									%li.collection-item.left-align
										Shipping (if applicable):
										%a.secondary-content
											= number_to_currency(@transaction.final_shipping_cost)
									%li.collection-item.left-align
										Tax:
										%a.secondary-content
											= number_to_currency(@transaction.tax)
									%li.collection-item.left-align
										Service Fee:
										%a.secondary-content
											= number_to_currency(@transaction.total_fee)
									%li.collection-item.left-align
										%div
											Grand Total:
											%a.secondary-content
												= number_to_currency(@transaction.total_amount)
		-else
			%ul
				%li.card.checkout.destination-address.hoverable
					.card-content.step1-2
						%h6.left-align.collapsible-header
							Step 3: Confirm Sale Details
						%br/
						.row
							%span.card-title.col.s12
								%h5.center-align
									Please enter Tax Rate, Company Invoice Number, and Shipping Charge (if applicable)
								%h6.center-align
									We will be generating a custom Invoice for your records.
								-if @auction.resale_yes
									%h6.center-align
										= "A copy of #{@transaction.buyer.name}'s Resale Certificate has been provided."
								.form-container.destination-form
									= form_for(@transaction, html: { class: "inline-form" }, url: update_tax_shipping_path(@transaction.id)) do |f|
										.row
											-if !@transaction.shipping_account
												.input-field.col.s4
													.field.form-group
														= f.text_field :final_shipping_cost, class: "form-control dollars", id: "finalized-shipping",  :value => nil, placeholder: "Confirm Final Shipping Cost" unless @transaction.shipping_account
											-if @transaction.auction.resale_no
												.input-field.col.s4
													.field.form-group
														= f.text_field :tax_rate, maxlength: 7, class: "form-control percentage", id: "tax-rate", :value => nil, placeholder: "Tax Rate (%)"
											.input-field.col.s4
												.field.form-group
													= f.text_field :invoice_num, class: "form-control", :value => nil, placeholder: "Invoice No."
										.actions{style: "margin-bottom: 20px;"}
											= f.submit 'Submit', class: "btn custom-btn"
										

		-if !@transaction.paid
			= render 'transactions/partials/seller4_5blur'
		-else
			= render 'transactions/partials/seller4_5'

		-if !@transaction.delivered
			= render 'transactions/partials/seller6blur'
		-else
			= render 'transactions/partials/seller6'
