%p#notice.center-align= notice
%h1 Listing Auction Parts
%table
  %thead
    %tr
      %th Part num
      %th Init price
      %th Part
      %th Auction
      %th{:colspan => "3"}
  %tbody
    - @auction_parts.each do |auction_part|
      %tr
        %td= auction_part.part_num
        %td= auction_part.init_price
        %td= auction_part.part
        %td= auction_part.auction
        %td= link_to 'Show', auction_part
        %td= link_to 'Edit', edit_auction_part_path(auction_part)
        %td= link_to 'Delete', auction_part, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Auction part', new_auction_part_path
