%p#notice.center-align= notice
%p
  %strong Part num:
  = @auction_part.part_num
%p
  %strong New List Price:
  = @auction_part.init_price
%p
  %strong Part:
  = @auction_part.part
%p
  %strong Auction:
  = @auction_part.auction
= link_to 'Edit', edit_auction_part_path(@auction_part)
|
= link_to 'Back', auction_parts_path
