<%= render 'layouts/navbar' %>

<main>
  <div id="banner" class="clearfix">
    <h1>
      <%= @bid.inventory_part.description %>
      <%= @bid.inventory_part.part_num %>
    </h1>
  </div>
  <div id="main-container">
    <p>
      <h2>Amount:</h2>
      <%= @bid.amount %>
    </p>
    
    <p>
      <h2>Company:</h2>
      <%= @bid.company %>
    </p>
    </div>
    
    <form action="/charges" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
        data-name="Stripe.com"
        data-description="2 widgets"
        data-amount="2000"
        data-locale="auto">
      </script>
    </form>

</main>