!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title BidAero
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag     "https://cdn.datatables.net/plug-ins/1.10.11/integration/font-awesome/dataTables.fontAwesome.css"
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag  "https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"
    = javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
    
    / Core JS files


    / /theme JS files
    %body{:class => "#{body_class} Site"}
      - unless current_user
        = render partial: 'layouts/commons/flash'
      - if current_user
        %main
          = render "./layouts/commons/navbar"
          = render partial: 'layouts/commons/flash'
          = yield
        = render partial: 'layouts/commons/footer'
      - else
        .new-session.background
          .container
            = yield
