!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BidAero
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / CSS
    = stylesheet_link_tag     "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500"
    = stylesheet_link_tag     "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    = stylesheet_link_tag     "https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"
    = stylesheet_link_tag     "https://cdn.datatables.net/plug-ins/1.10.11/integration/font-awesome/dataTables.fontAwesome.css"
    = stylesheet_link_tag     "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
    = stylesheet_link_tag     "http://fonts.googleapis.com/icon?family=Material+Icons"
    / JavaScript
    = javascript_include_tag  "https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"
    = javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"

  %body{:class => body_class}
    %main
      - if current_user
        = render "./layouts/commons/navbar"
      - else
        .new-session.row{style: "max-height: 100vh;"}
          = yield
      .custom-container
        = yield

  %footer.page-footer
    .container
      .row
        .col.l6.s12
          %h5.grey-text Contact Us
          %ul
            %li
              %a.grey-text.text-darken-3 13611 S. Dixie HWY
            %li
              %a.grey-text.text-darken-3 Suite 109-539 Miami, FL 33176
          %a.grey-text.text-darken-3{:href => "mailto:info@bid.aero"} info@bid.aero

        .col.l4.offset-l2.s12
          %h5.grey-text Links
          %ul
            %li
              %a.grey-text.text-darken-3{:href => "#!"} Advertisment
            %li
              %a.grey-text.text-darken-3{:href => "#!"} Terms and Conditions
            %li
              %a.grey-text.text-darken-3{:href => "#!"} Privacy Policy

    .footer-copyright
      .container
        %a.grey-text.text-darken-3 Website designed and programmed in Miami, Florida. Copyright ©2016 Bid.Aero, LLC. All Rights Reserved.

:javascript
  $(function(){
    $('.modal-trigger').leanModal();
    $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
      }
    );
  var pgurl = window.location.pathname;
   $(".side-nav li a").each(function(){
      if( $(this).attr("href") == pgurl || $(this).attr("href") == '' ) {
        $($(this)).parent().addClass("active");
      };
    });
  });
