!!!
%html
  %head
    %title Bid Aero
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "Praveen Rk ", :name => "author"}/
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true

    /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Favicons
    %link{:href => asset_path("favicon.png"), :rel => "shortcut icon"}/
    %link{:href => asset_path("apple-touch-icon.png"), :rel => "apple-touch-icon"}/
    %link{:href => asset_path("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => asset_path("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon", :sizes => "114x114"}/
    / CSS
  %body.appear-animate
    / Page Loader
    .page-loader
      .loader Loading...
    / End Page Loader
    / Page Wrap
    #top.page
      / Home Section
      / End Scroll Down
      / End Home Section
      / Navigation panel
      .container.relative
        %nav.main-nav.transparent.stick-fixed
          .full-wrapper.relative.clearfix
            / Logo ( * your text or image into link tag *)
            .col-md-12
              .col-md-2
                %a.logo{:href => "/"}
                  %img{:alt => "", :src => asset_path("bid/logo_bid2.png")}/
              .col-md-10
                .mobile-nav
                  %i.fa.fa-bars
                / Main Menu
                .col-md-8.responsive
                  .inner-nav.desktop-nav
                    %ul.clearlist.scroll-nav
                      %li.active
                        %a{:href => root_path} HOME
                      / %li
                      /   %a{:href => "#about"} ABOUT
                      / %li
                      /   %a{:href => "#infographic"} INFO GRAPHIC
                      / %li
                      /   %a{:href => "#contact"} CONTACT
                      %li
                        %a{:href => "/features#key"} FEATURES
                      / %li
                      /   %a{:href => "/#howitworks"} HOW IT WORKS
                      %li
                        %a{:href => "/pricing"} PRICING
                .col-md-4
                  .row.login.login_landing_form
                    = form_for(:login, url: login_path, class: "formhead") do |f|
                      .col-md-5.color-white
                        %label.username{:for => "name"} User Name
                        = f.text_field :email, class: "validate", id: 'email', class: "input-md round form-control"
                        %input.Remember{:type => "checkbox"}/
                        Remember Me
                      .col-md-5.color-white
                        %label.password{:for => "pass"} Password
                        = f.password_field :password, class: "validate input-md round form-control"
                        = link_to 'Forgot Your Password?', new_password_reset_path, class: "reset_link"
                      .col-md-2                          
                        %input#enterbutton.input-md.round.form-control{:required => "", :type => "submit", :value => "Enter", style: "margin-top: 16px; margin-left: -19px;"}/
      %hr.mt-0.mb-0/
    = yield
  
    %section.shadow_section.page-section.bg-dark.bg-dark-alfa-90.fullwidth-slider{"data-background" => asset_path("full-width-images/clouds.png"), :style => "padding: 50px 0px;"}
      / Slide Item
      #contact.container.relative
        .row
          .col-md-8.col-md-offset-1.align-center
            .col-md-8.col-md-offset-2
              .newsletter-label.font-alt
                %p.signnews SIGN UP TO OUR NEWSLETTER
              .col-md-11
                %input#signupbox.newsletter-field.form-control.input-md.round.mb-xs-10{:pattern => ".{5,100}", :placeholder => "Enter Your Email", :required => "", :type => "email"}/
              .col-md-1
                %button.btn.btn-mod.btn-medium.btn-round.mb-xs-1.green{:type => "submit"}
                  Submit
              #subscribe-result
          / End Testimonials Section
        / Newsletter Section
    %section.shadow_section.small-section.bg-gray-lighter
      %form#mailchimp.form.align-center
        .row
          .col-md-12
            .newsletter-label.font-alt
              .col-md-3.heading
                %ul.footernav.navigation
                  %li.footernav.center
                    %h4{style: "color: white;"}
                      NAVIGATION                    
                  %li.footernav.center 
                    %a{:href => root_path} HOME
                  %li.footernav.center
                    %a{:href => "/features#key"} FEATURES
                  %li.footernav.center 
                    %a{:href => "/pricing"} PRICING
              .col-md-6.heading
                %h4 PAYMENTS ACCEPTED
                %p.paymentstyle We accept various payment methods to ensure quick and safe access to our global aircraft parts locating system.
                .form-tip
                  %ul.cnss-social-icon{:id => "", :style => "text-align:center;margin-right: 15px;"}
                    %li.Instagram{:style => " display:inline-block;"}
                      %a{:href => "#", :target => "_blank", :title => "Instagram"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("footer/pricing_bid-Aero_03.png"), :style => " margin:0px;", :width => "200"}/
                  #subscribe-result
              .col-md-3.heading
                %h4 FOLLOW
                .form-tip
                  %ul.cnss-social-icon{:id => "", :style => "text-align:center;margin-right: 15px;"}
                    %li.Instagram{:style => " display:inline-block;"}
                      %a{:href => "#", :target => "_blank", :title => "fb"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("socialmedia/facebook.png"), :style => " margin:0px;", :width => "15"}/
                    %li.Instagram{:style => " display:inline-block;"}
                      %a{:href => "#", :target => "_blank", :title => "twitter"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("socialmedia/twitter.png"), :style => " margin:0px;", :width => "35"}/
                    %li.Instagram{:style => " display:inline-block;margin-right:5px;"}
                      %a{:href => "#", :target => "_blank", :title => "youtube"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("socialmedia/YouTube.png"), :style => " margin:0px;", :width => "35"}/
                    %li.Instagram{:style => " display:inline-block;margin-right:5px;"}
                      %a{:href => "#", :target => "_blank", :title => "linked_in"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("socialmedia/icon_linkedin.png"), :style => " margin:0px;", :width => "15"}/
                    %li.Instagram{:style => " display:inline-block;"}
                      %a{:href => "#", :target => "_blank", :title => "Instagram"}
                        %img{:alt => "Instagram", :border => "0", :src => asset_path("socialmedia/instagram.png"), :style => " margin:0px;", :width => "15"}/
                  #subscribe-result
    / End Newsletter Section
    / Contact Section
    %section.shadow_section.page-section.bg
      %form#mailchimp.form.align-center
        .row
          .col-md-12
            .newsletter-label.font-alt
              .col-md-3.heading.white
                %h4 CONTACT US
                %ul
                  %li.footernav Please fill the form or reach us directly at 1800.000.0000
              .col-md-2.heading
                .form-group
                  %input#name.input-md.round.form-control{:name => "name", :pattern => ".{3,100}", :placeholder => "Enter Name", :required => "", :type => "text"}/
              .col-md-2.heading
                .form-group
                  %input#name.input-md.round.form-control{:name => "name", :pattern => ".{3,100}", :placeholder => "Enter Email", :required => "", :type => "email"}/
              .col-md-2.heading
                .form-group
                  %input#name.input-md.round.form-control{:name => "name", :pattern => ".{3,100}", :placeholder => "Contact Number", :required => "", :type => "text"}/
              .cf-right-col
                / Message
                .form-group
                  %textarea#message.input-md.round.form-control{:name => "message", :placeholder => "Message", :style => "height: 84px;width: 103%;"}
              .col-md-3.heading
                %button.btn.btn-mod.btn-medium.btn-round.mb-xs-5{:type => "submit"}
                  Submit
        / End Contact Form
    / END CONTACT
    / End Pricing1 Section
    / Footer
    %footer.page-section.bg-gray-lighter.footer.bg{style: "background-color: #2b3749;"}
      .container
        / Footer Logo
        .local-scroll.mb-30.wow.fadeInUp{"data-wow-duration" => "1.5s"}
          %a{:href => "#top"}
            %img.fooger{:src => asset_path("bid/logo_bid1.png")}/
        .footer-copy.font-alt
          %a{:href => "#", :target => "_blank"}> © Bid Aero INC 2016  |  Terms | contact us 1800.000.0000
          \.
        / End Copyright
      / End Footer Text
  / Top Link
  .local-scroll
    %a.link-to-top{:href => "#top"}
      %i.fa.fa-caret-up
  = javascript_include_tag 'landing', 'data-turbolinks-track' => true 
  / End Top Link
  / End Foter
/ End Page Wrap
/ JS
/[if lt IE 10] <script type="text/javascript" src="js/placeholder.js"></script>
:javascript
  function getTransactionFee(part_price){
      if( part_price && !isNaN(part_price) ){
          var tier0 = 0;
          var tier1 = 5000;
          var tier2 = 50000;
          var tier3 = 500000;
          var tier4 = 1000000;

          var price = new Object();

          price.part_price = part_price;  

          var tmp_aero_fee;
          if (part_price < tier1) { // 5,000
              tmp_aero_fee = part_price * 0.025;
          } else if (part_price < tier2) { // 50,000
              tmp_aero_fee = (part_price - tier1) * 0.015 + 125;
          } else if (part_price < tier3) { // 500,000
              tmp_aero_fee = (part_price - tier2) * 0.0125 + 800;
          } else if (part_price < tier4) { // 1,000,000
              tmp_aero_fee = (part_price - tier3) * 0.0075 + 6425;
          } else { //  anything over a million
              tmp_aero_fee = (part_price - tier4) * 0.0075 + 10175;
          }
          price.bid_aero_fee = tmp_aero_fee;

          var tmp_armor_fee;
          if (part_price < tier1) { // 5,000
              tmp_armor_fee = part_price * 0.015;
          } else if (part_price < tier2) { // 50,000
              tmp_armor_fee = (part_price - tier1) * 0.01 + 75;
          } else if (part_price < tier3) { // 500,000
              tmp_armor_fee = (part_price - tier2) * 0.0075 + 525;
          } else if (part_price < tier4) { // 1,000,000
              tmp_armor_fee = (part_price - tier3) * 0.005 + 3900;
          } else { //  anything over a million
              tmp_armor_fee = (part_price - tier4) * 0.0035 + 6400;
          }
          if (tmp_armor_fee < 10) {
              tmp_armor_fee = 10;
          }
          price.armor_fee = tmp_armor_fee;

          price.total_fee = price.armor_fee + price.bid_aero_fee;

          var totalAmount = part_price + price.total_fee;
          var totalAmountFixedVal = parseFloat(totalAmount).toFixed(2);
          var totalAmoutVal = toFixedNumber(totalAmountFixedVal);


          document.getElementById("transactionFee").innerHTML = '$'+totalAmoutVal;
      } else {
          document.getElementById("transactionFee").innerHTML = '$0.00';
      }
  }
  function toFixedNumber(x) {
      if (Math.abs(x) < 1.0) {
          var e = parseInt(x.toString().split('e-')[1]);
          if (e) {
              x *= Math.pow(10,e-1);
              x = '0.' + (new Array(e)).join('0') + x.toString().substring(2);
          }
      } else {
          var e = parseInt(x.toString().split('+')[1]);
          if (e > 20) {
              e -= 20;
              x /= Math.pow(10,e);
              x += (new Array(e+1)).join('0');
          }
      }
      return x;
  }